workflows/2YG8YdGNTawzKLeW.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video Avatar Folders": {
      "main": [
        [
          {
            "node": "Get video Avatar to use based on account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video Avatar to use based on account": {
      "main": [
        [
          {
            "node": "Get all Avatars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows": {
      "main": [
        [
          {
            "node": "Loop Over Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check for number of motion videos to stich": {
      "main": [
        [
          {
            "node": "Call 'video render v1' for motion videos stiching",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call 'video render v1' for motion videos stiching": {
      "main": [
        [
          {
            "node": "Get video binary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video binary1": {
      "main": [
        [
          {
            "node": "Upload stiched motion file to common pool",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete temp video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload stiched motion file to common pool": {
      "main": [
        [
          {
            "node": "Set shot number with motion video link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set shot number with motion video link": {
      "main": [
        []
      ]
    },
    "Mege for all shots and their motion video links": {
      "main": [
        []
      ]
    },
    "Loop Over Reels": {
      "main": [
        [],
        [
          {
            "node": "Call Phase 2: motion subworkflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Phase 2: motion subworkflow": {
      "main": [
        [
          {
            "node": "Loop Over Reels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-13T16:14:04.505Z",
  "id": "2YG8YdGNTawzKLeW",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Phase 2: Images to motion video generation -main",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "d0d7a516-2234-4c32-b526-4da6d95d83c6",
      "name": "Download Image from Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1440,
        -496
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1840,
        304
      ],
      "id": "03c088cb-de62-438d-8bda-aff6dc0f9d7d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "video_avatar_accounts",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        112,
        -1072
      ],
      "id": "ff355962-947d-4e09-b1f9-501482b89056",
      "name": "Get video Avatar Folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Get Rows').item.json['Account to post'] }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        -1072
      ],
      "id": "538b5ab2-8aa7-4df9-b63d-688d28636d51",
      "name": "Get video Avatar to use based on account",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        -1072
      ],
      "id": "26c25179-ec48-4f26-a8b2-3554054fd5da",
      "name": "Get all Avatars",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc",
          "mode": "list",
          "cachedResultName": "Short Video Generation DB- Jass Records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status of Automation",
              "lookupValue": "Approved_for_video_generation"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1584,
        304
      ],
      "id": "96571de4-e696-4a6c-9752-25ac1e91dab4",
      "name": "Get Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fhIAilo8SGlashT9",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c37572c6-2ee9-4fa7-bc0e-f7aa40b21982",
              "leftValue": "={{ $json.data.StoryShots.motionURLs.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4096,
        144
      ],
      "id": "2d4e01a2-6dd6-43da-8998-930ae99cb993",
      "name": "check for number of motion videos to stich",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uzd38cC6ZsZfpLSq",
          "mode": "list",
          "cachedResultUrl": "/workflow/uzd38cC6ZsZfpLSq",
          "cachedResultName": "video render v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_link_list": "={{ $json.data.StoryShots.motionURLs}}",
            "audio_link": "=",
            "output_video_name": "={{ $('Limit').item.json.name }}_motion_count_{{ $json.data.StoryShots.motionURLs.length}}.mp4",
            "audio_start_time": "=00:00:00"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_link_list",
              "displayName": "video_link_list",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "audio_link",
              "displayName": "audio_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "audio_start_time",
              "displayName": "audio_start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output_video_name",
              "displayName": "output_video_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4144,
        560
      ],
      "id": "e65a9792-f4de-46c5-a772-3482f5c6e39a",
      "name": "Call 'video render v1' for motion videos stiching",
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fileSelector": "=/tmp/{{ $('Limit').item.json.name }}_motion_count_{{ $('check for number of motion videos to stich').item.json.data.StoryShots.motionURLs.length }}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        4368,
        560
      ],
      "id": "ac19cd4f-06e7-445f-a52c-fb6542954b3f",
      "name": "Get video binary1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "name": "={{ $('Limit').item.json.name }}_motion_count_{{ $('check for number of motion videos to stich').item.json.data.StoryShots.motionURLs.length }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=1nl0bLEVT5pduiiduTx6vQGIBeQ2fj5e3",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4864,
        560
      ],
      "id": "11667ad4-f046-46ac-9386-4ab43e557f02",
      "name": "Upload stiched motion file to common pool",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "command": "=/tmp/{{ $('Limit').item.json.name }}_motion_count_{{ $('check for number of motion videos to stich').item.json.data.StoryShots.motionURLs.length }}.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4576,
        208
      ],
      "id": "fc5a33f0-7384-4534-85d7-8837d34b814e",
      "name": "Delete temp video",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7b49f0e-ce73-43de-b8a6-9ae05495b3d1",
              "name": "Shot_no",
              "value": "={{ $('check for number of motion videos to stich').item.json.shot_num }}",
              "type": "number"
            },
            {
              "id": "f8d81c7c-da7c-4401-a948-2681749cbce1",
              "name": "motion_video_link",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            },
            {
              "id": "afb9d7cf-e62b-4e36-8064-9d968d472876",
              "name": "image_link",
              "value": "={{ $('check for number of motion videos to stich').item.json.webContentLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5136,
        528
      ],
      "id": "d46870ac-1c30-4b42-9c12-ebc98deff994",
      "name": "Set shot number with motion video link"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4896,
        288
      ],
      "id": "e1ddad12-fa0a-430b-a5bc-b53d3a5c6b95",
      "name": "Mege for all shots and their motion video links",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "50JfkP0xh5IOWwLE",
          "mode": "list",
          "cachedResultUrl": "/workflow/50JfkP0xh5IOWwLE",
          "cachedResultName": "Phase 2: motion subworkflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "_firstItem": "={{ $('Loop Over Reels').item.json }}"
          },
          "matchingColumns": [
            ""
          ],
          "schema": [
            {
              "id": "_firstItem",
              "displayName": "_firstItem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1120,
        320
      ],
      "name": "Call Phase 2: motion subworkflow",
      "id": "25820275-1f1b-44d2-95a5-f927b9ee3c6f",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cff54f37-0111-45ff-96d5-83711eabe5b4",
      "name": "Loop Over Reels",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1392,
        304
      ],
      "notes": "Processes one reel at a time. Error on any reel marks it and continues to next."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1429e5d8-40ee-40ec-9dfd-490faa157232",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "14cbeda9-84fa-40fe-babe-c5d1f69ab7dc",
              "name": "Reel number",
              "value": "={{ $json['Reel number'] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        400
      ],
      "id": "843ea629-5502-4529-b578-21fbc11ae9c8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc",
          "mode": "list",
          "cachedResultName": "Short Video Generation DB- Jass Records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Reel number": "={{ $json['Reel number'] }}",
            "Error Details": "={{ $json.error }}",
            "Status of Automation": "error in video generation"
          },
          "matchingColumns": [
            "Reel number"
          ],
          "schema": [
            {
              "id": "Reel number",
              "displayName": "Reel number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client(drive folder name)",
              "displayName": "Client(drive folder name)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Account to post",
              "displayName": "Account to post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Avatars to use(comma seperated)",
              "displayName": "Avatars to use(comma seperated)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Avtar Drive links(optional & bypasses Avatar to use field)",
              "displayName": "Avtar Drive links(optional & bypasses Avatar to use field)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reel Type",
              "displayName": "Reel Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Concept input(optional)",
              "displayName": "Concept input(optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Song link(direct download)",
              "displayName": "Song link(direct download)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Start Time of Song",
              "displayName": "Start Time of Song",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Total Time of Reel(Secs)",
              "displayName": "Total Time of Reel(Secs)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status of Automation",
              "displayName": "Status of Automation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Drive link for image approvals",
              "displayName": "Drive link for image approvals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Drive link for video approval",
              "displayName": "Drive link for video approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Final Video Drive Download Link",
              "displayName": "Final Video Drive Download Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post Schedule Date",
              "displayName": "Post Schedule Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post Schedule Time",
              "displayName": "Post Schedule Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Workflow execution link",
              "displayName": "Workflow execution link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Error Details",
              "displayName": "Error Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -672,
        496
      ],
      "id": "5962d934-5b35-4592-8174-5d9e2f06f031",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fhIAilo8SGlashT9",
          "name": "Google Sheets account 3"
        }
      }
    }
  ],
  "pinData": {
    "Call 'video render v1' for motion videos stiching": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        },
        "pairedItem": {
          "item": 4
        }
      }
    ],
    "Get video binary1": [
      {
        "json": {
          "mimeType": "video/mp4",
          "fileType": "video",
          "fileName": "reel_115_shotno_1_motion_count_3.mp4",
          "fileExtension": "mp4",
          "fileSize": "1.34 MB"
        },
        "binary": {
          "data": {
            "mimeType": "video/mp4",
            "fileType": "video",
            "fileExtension": "mp4",
            "data": "filesystem-v2",
            "directory": "/tmp",
            "fileName": "reel_115_shotno_1_motion_count_3.mp4",
            "id": "filesystem-v2:workflows/6DimA5s43FiufVtV/executions/3112/binary_data/342221b7-1ac4-4aab-81bb-7db1ca954b9a",
            "fileSize": "1.34 MB",
            "bytes": 1335080
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "mimeType": "video/mp4",
          "fileType": "video",
          "fileName": "reel_115_shotno_2_motion_count_2.mp4",
          "fileExtension": "mp4",
          "fileSize": "862 kB"
        },
        "binary": {
          "data": {
            "mimeType": "video/mp4",
            "fileType": "video",
            "fileExtension": "mp4",
            "data": "filesystem-v2",
            "directory": "/tmp",
            "fileName": "reel_115_shotno_2_motion_count_2.mp4",
            "id": "filesystem-v2:workflows/6DimA5s43FiufVtV/executions/3112/binary_data/c652f849-6625-4599-bf24-1bf62c0c570d",
            "fileSize": "862 kB",
            "bytes": 862009
          }
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "mimeType": "video/mp4",
          "fileType": "video",
          "fileName": "reel_115_shotno_3_motion_count_2.mp4",
          "fileExtension": "mp4",
          "fileSize": "1.46 MB"
        },
        "binary": {
          "data": {
            "mimeType": "video/mp4",
            "fileType": "video",
            "fileExtension": "mp4",
            "data": "filesystem-v2",
            "directory": "/tmp",
            "fileName": "reel_115_shotno_3_motion_count_2.mp4",
            "id": "filesystem-v2:workflows/6DimA5s43FiufVtV/executions/3112/binary_data/9fa951ea-6c02-41b9-afa3-703ee24c4f11",
            "fileSize": "1.46 MB",
            "bytes": 1456980
          }
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "mimeType": "video/mp4",
          "fileType": "video",
          "fileName": "reel_115_shotno_4_motion_count_2.mp4",
          "fileExtension": "mp4",
          "fileSize": "1.33 MB"
        },
        "binary": {
          "data": {
            "mimeType": "video/mp4",
            "fileType": "video",
            "fileExtension": "mp4",
            "data": "filesystem-v2",
            "directory": "/tmp",
            "fileName": "reel_115_shotno_4_motion_count_2.mp4",
            "id": "filesystem-v2:workflows/6DimA5s43FiufVtV/executions/3112/binary_data/798ad88a-2722-4017-8f3e-595d46267bcc",
            "fileSize": "1.33 MB",
            "bytes": 1329866
          }
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "mimeType": "video/mp4",
          "fileType": "video",
          "fileName": "reel_115_shotno_5_motion_count_2.mp4",
          "fileExtension": "mp4",
          "fileSize": "874 kB"
        },
        "binary": {
          "data": {
            "mimeType": "video/mp4",
            "fileType": "video",
            "fileExtension": "mp4",
            "data": "filesystem-v2",
            "directory": "/tmp",
            "fileName": "reel_115_shotno_5_motion_count_2.mp4",
            "id": "filesystem-v2:workflows/6DimA5s43FiufVtV/executions/3112/binary_data/65b444ef-a971-45de-800a-9c8c32e81c30",
            "fileSize": "874 kB",
            "bytes": 873622
          }
        },
        "pairedItem": {
          "item": 4
        }
      }
    ],
    "Upload stiched motion file to common pool": [
      {
        "json": {
          "kind": "drive#file",
          "id": "19ZLVcUZPG6UbXm3Pl3cjYxwtXrCAdzr6",
          "name": "reel_115_shotno_1_motion_count_3.mp4",
          "mimeType": "video/mp4",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "parents": [
            "1nl0bLEVT5pduiiduTx6vQGIBeQ2fj5e3"
          ],
          "spaces": [
            "drive"
          ],
          "version": "4",
          "webContentLink": "https://drive.google.com/uc?id=19ZLVcUZPG6UbXm3Pl3cjYxwtXrCAdzr6&export=download",
          "webViewLink": "https://drive.google.com/file/d/19ZLVcUZPG6UbXm3Pl3cjYxwtXrCAdzr6/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/video/mp4",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": false,
          "createdTime": "2026-03-11T08:23:34.582Z",
          "modifiedTime": "2026-03-11T08:23:35.486Z",
          "modifiedByMeTime": "2026-03-11T08:23:35.486Z",
          "modifiedByMe": true,
          "owners": [
            {
              "kind": "drive#user",
              "displayName": "Vekhii Jaa",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
              "me": true,
              "permissionId": "11535262035090087718",
              "emailAddress": "vekhiijaa@gmail.com"
            }
          ],
          "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "Vekhii Jaa",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
            "me": true,
            "permissionId": "11535262035090087718",
            "emailAddress": "vekhiijaa@gmail.com"
          },
          "shared": true,
          "ownedByMe": true,
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "anyoneWithLink",
              "type": "anyone",
              "role": "reader",
              "allowFileDiscovery": false
            },
            {
              "kind": "drive#permission",
              "id": "03152748759455991487",
              "type": "user",
              "emailAddress": "madansabloknew@gmail.com",
              "role": "writer",
              "displayName": "madansabloknew",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "06664136964052654300",
              "type": "user",
              "emailAddress": "gursimar.vekhiijaa@gmail.com",
              "role": "writer",
              "displayName": "gursimar.vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "11535262035090087718",
              "type": "user",
              "emailAddress": "vekhiijaa@gmail.com",
              "role": "owner",
              "displayName": "vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "permissionIds": [
            "anyoneWithLink",
            "03152748759455991487",
            "06664136964052654300",
            "11535262035090087718"
          ],
          "originalFilename": "reel_115_shotno_1_motion_count_3.mp4",
          "fullFileExtension": "mp4",
          "fileExtension": "mp4",
          "md5Checksum": "4723da22318aa49ac22172b0ede928e6",
          "sha1Checksum": "71f33d16a58c27f8b6cdea387c19c1731ecdd1db",
          "sha256Checksum": "a3e8c16f12181ee42e8843810fcaa8ae21df9e3ebbe71c26b345888bcb8f1f15",
          "size": "1335080",
          "quotaBytesUsed": "1335080",
          "headRevisionId": "0B2vTDi5a6bqLVVlXak9vVnA2NlV5dHczZHAxSnlKQWV1U25ZPQ",
          "isAppAuthorized": true,
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "kind": "drive#file",
          "id": "1wm3sXhhM3giMUt77lZcpEB2XbkfUF-f_",
          "name": "reel_115_shotno_2_motion_count_2.mp4",
          "mimeType": "video/mp4",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "parents": [
            "1nl0bLEVT5pduiiduTx6vQGIBeQ2fj5e3"
          ],
          "spaces": [
            "drive"
          ],
          "version": "4",
          "webContentLink": "https://drive.google.com/uc?id=1wm3sXhhM3giMUt77lZcpEB2XbkfUF-f_&export=download",
          "webViewLink": "https://drive.google.com/file/d/1wm3sXhhM3giMUt77lZcpEB2XbkfUF-f_/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/video/mp4",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": false,
          "createdTime": "2026-03-11T08:23:38.925Z",
          "modifiedTime": "2026-03-11T08:23:39.755Z",
          "modifiedByMeTime": "2026-03-11T08:23:39.755Z",
          "modifiedByMe": true,
          "owners": [
            {
              "kind": "drive#user",
              "displayName": "Vekhii Jaa",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
              "me": true,
              "permissionId": "11535262035090087718",
              "emailAddress": "vekhiijaa@gmail.com"
            }
          ],
          "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "Vekhii Jaa",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
            "me": true,
            "permissionId": "11535262035090087718",
            "emailAddress": "vekhiijaa@gmail.com"
          },
          "shared": true,
          "ownedByMe": true,
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "anyoneWithLink",
              "type": "anyone",
              "role": "reader",
              "allowFileDiscovery": false
            },
            {
              "kind": "drive#permission",
              "id": "03152748759455991487",
              "type": "user",
              "emailAddress": "madansabloknew@gmail.com",
              "role": "writer",
              "displayName": "madansabloknew",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "06664136964052654300",
              "type": "user",
              "emailAddress": "gursimar.vekhiijaa@gmail.com",
              "role": "writer",
              "displayName": "gursimar.vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "11535262035090087718",
              "type": "user",
              "emailAddress": "vekhiijaa@gmail.com",
              "role": "owner",
              "displayName": "vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "permissionIds": [
            "anyoneWithLink",
            "03152748759455991487",
            "06664136964052654300",
            "11535262035090087718"
          ],
          "originalFilename": "reel_115_shotno_2_motion_count_2.mp4",
          "fullFileExtension": "mp4",
          "fileExtension": "mp4",
          "md5Checksum": "8c02e601cb8981c2cb56c7e0de3e5e00",
          "sha1Checksum": "a6c35321cfba7a910dc6432bb57dca2168fd42bc",
          "sha256Checksum": "2569984fce2d0647c597c4edabaed77bbf6f5bc11f146a30f32e24fa09e575a5",
          "size": "862009",
          "quotaBytesUsed": "862009",
          "headRevisionId": "0B2vTDi5a6bqLUFpEVWRQd21xWDJRazl0bFhxVytMWlJEV1JJPQ",
          "isAppAuthorized": true,
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "kind": "drive#file",
          "id": "1-0GM2aWqNqjqbyHpb7EJEfy6TnxTA5Vf",
          "name": "reel_115_shotno_3_motion_count_2.mp4",
          "mimeType": "video/mp4",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "parents": [
            "1nl0bLEVT5pduiiduTx6vQGIBeQ2fj5e3"
          ],
          "spaces": [
            "drive"
          ],
          "version": "4",
          "webContentLink": "https://drive.google.com/uc?id=1-0GM2aWqNqjqbyHpb7EJEfy6TnxTA5Vf&export=download",
          "webViewLink": "https://drive.google.com/file/d/1-0GM2aWqNqjqbyHpb7EJEfy6TnxTA5Vf/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/video/mp4",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": false,
          "createdTime": "2026-03-11T08:23:44.215Z",
          "modifiedTime": "2026-03-11T08:23:45.058Z",
          "modifiedByMeTime": "2026-03-11T08:23:45.058Z",
          "modifiedByMe": true,
          "owners": [
            {
              "kind": "drive#user",
              "displayName": "Vekhii Jaa",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
              "me": true,
              "permissionId": "11535262035090087718",
              "emailAddress": "vekhiijaa@gmail.com"
            }
          ],
          "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "Vekhii Jaa",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
            "me": true,
            "permissionId": "11535262035090087718",
            "emailAddress": "vekhiijaa@gmail.com"
          },
          "shared": true,
          "ownedByMe": true,
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "anyoneWithLink",
              "type": "anyone",
              "role": "reader",
              "allowFileDiscovery": false
            },
            {
              "kind": "drive#permission",
              "id": "03152748759455991487",
              "type": "user",
              "emailAddress": "madansabloknew@gmail.com",
              "role": "writer",
              "displayName": "madansabloknew",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "06664136964052654300",
              "type": "user",
              "emailAddress": "gursimar.vekhiijaa@gmail.com",
              "role": "writer",
              "displayName": "gursimar.vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "11535262035090087718",
              "type": "user",
              "emailAddress": "vekhiijaa@gmail.com",
              "role": "owner",
              "displayName": "vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "permissionIds": [
            "anyoneWithLink",
            "03152748759455991487",
            "06664136964052654300",
            "11535262035090087718"
          ],
          "originalFilename": "reel_115_shotno_3_motion_count_2.mp4",
          "fullFileExtension": "mp4",
          "fileExtension": "mp4",
          "md5Checksum": "7365e297c12b72a0fb66b5f35caa7689",
          "sha1Checksum": "6bfb2222b30612f05f6b4c34652fff60e8cb93c0",
          "sha256Checksum": "62df8ab28ed91825df88f4dcaf17f89321370d17078174e9fbd0136b94ef9125",
          "size": "1456980",
          "quotaBytesUsed": "1456980",
          "headRevisionId": "0B2vTDi5a6bqLOTJheXZMaFh2NVFvSlUvdXJ0b2JSZExxU3NFPQ",
          "isAppAuthorized": true,
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "kind": "drive#file",
          "id": "1wgYTOeU-M7ZyQpLtUP2DohDNE0ek60y6",
          "name": "reel_115_shotno_4_motion_count_2.mp4",
          "mimeType": "video/mp4",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "parents": [
            "1nl0bLEVT5pduiiduTx6vQGIBeQ2fj5e3"
          ],
          "spaces": [
            "drive"
          ],
          "version": "4",
          "webContentLink": "https://drive.google.com/uc?id=1wgYTOeU-M7ZyQpLtUP2DohDNE0ek60y6&export=download",
          "webViewLink": "https://drive.google.com/file/d/1wgYTOeU-M7ZyQpLtUP2DohDNE0ek60y6/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/video/mp4",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": false,
          "createdTime": "2026-03-11T08:23:48.716Z",
          "modifiedTime": "2026-03-11T08:23:49.603Z",
          "modifiedByMeTime": "2026-03-11T08:23:49.603Z",
          "modifiedByMe": true,
          "owners": [
            {
              "kind": "drive#user",
              "displayName": "Vekhii Jaa",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
              "me": true,
              "permissionId": "11535262035090087718",
              "emailAddress": "vekhiijaa@gmail.com"
            }
          ],
          "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "Vekhii Jaa",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
            "me": true,
            "permissionId": "11535262035090087718",
            "emailAddress": "vekhiijaa@gmail.com"
          },
          "shared": true,
          "ownedByMe": true,
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "anyoneWithLink",
              "type": "anyone",
              "role": "reader",
              "allowFileDiscovery": false
            },
            {
              "kind": "drive#permission",
              "id": "03152748759455991487",
              "type": "user",
              "emailAddress": "madansabloknew@gmail.com",
              "role": "writer",
              "displayName": "madansabloknew",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "06664136964052654300",
              "type": "user",
              "emailAddress": "gursimar.vekhiijaa@gmail.com",
              "role": "writer",
              "displayName": "gursimar.vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "11535262035090087718",
              "type": "user",
              "emailAddress": "vekhiijaa@gmail.com",
              "role": "owner",
              "displayName": "vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "permissionIds": [
            "anyoneWithLink",
            "03152748759455991487",
            "06664136964052654300",
            "11535262035090087718"
          ],
          "originalFilename": "reel_115_shotno_4_motion_count_2.mp4",
          "fullFileExtension": "mp4",
          "fileExtension": "mp4",
          "md5Checksum": "20d63693373b40684d29c67c522f175b",
          "sha1Checksum": "8c6cd2b1a234d2754e541bc9ff2931fb4e9e2e71",
          "sha256Checksum": "06e7491c05c66f07c449329706129298f5450d0d37cc22ec23b07e8262e8da0b",
          "size": "1329866",
          "quotaBytesUsed": "1329866",
          "headRevisionId": "0B2vTDi5a6bqLV1NXU216NnhZcVV3b3F4dldxazlJR3FRSnZVPQ",
          "isAppAuthorized": true,
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "kind": "drive#file",
          "id": "10Ja6oLPZ5fdi3Je80MDU5H4wbm2HGUIr",
          "name": "reel_115_shotno_5_motion_count_2.mp4",
          "mimeType": "video/mp4",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "parents": [
            "1nl0bLEVT5pduiiduTx6vQGIBeQ2fj5e3"
          ],
          "spaces": [
            "drive"
          ],
          "version": "3",
          "webContentLink": "https://drive.google.com/uc?id=10Ja6oLPZ5fdi3Je80MDU5H4wbm2HGUIr&export=download",
          "webViewLink": "https://drive.google.com/file/d/10Ja6oLPZ5fdi3Je80MDU5H4wbm2HGUIr/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/video/mp4",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": false,
          "createdTime": "2026-03-11T08:23:53.041Z",
          "modifiedTime": "2026-03-11T08:23:53.859Z",
          "modifiedByMeTime": "2026-03-11T08:23:53.859Z",
          "modifiedByMe": true,
          "owners": [
            {
              "kind": "drive#user",
              "displayName": "Vekhii Jaa",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
              "me": true,
              "permissionId": "11535262035090087718",
              "emailAddress": "vekhiijaa@gmail.com"
            }
          ],
          "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "Vekhii Jaa",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
            "me": true,
            "permissionId": "11535262035090087718",
            "emailAddress": "vekhiijaa@gmail.com"
          },
          "shared": true,
          "ownedByMe": true,
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "anyoneWithLink",
              "type": "anyone",
              "role": "reader",
              "allowFileDiscovery": false
            },
            {
              "kind": "drive#permission",
              "id": "03152748759455991487",
              "type": "user",
              "emailAddress": "madansabloknew@gmail.com",
              "role": "writer",
              "displayName": "madansabloknew",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "06664136964052654300",
              "type": "user",
              "emailAddress": "gursimar.vekhiijaa@gmail.com",
              "role": "writer",
              "displayName": "gursimar.vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "11535262035090087718",
              "type": "user",
              "emailAddress": "vekhiijaa@gmail.com",
              "role": "owner",
              "displayName": "vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "permissionIds": [
            "anyoneWithLink",
            "03152748759455991487",
            "06664136964052654300",
            "11535262035090087718"
          ],
          "originalFilename": "reel_115_shotno_5_motion_count_2.mp4",
          "fullFileExtension": "mp4",
          "fileExtension": "mp4",
          "md5Checksum": "bdb463a49d93758dcffb967c366f8e4b",
          "sha1Checksum": "15ce733a4526e99ee147f9095f62d9621f36d86b",
          "sha256Checksum": "c77584df675f8db539bdbb660d60921c825ef2d21c563ab61f9fa88b33f11205",
          "size": "873622",
          "quotaBytesUsed": "873622",
          "headRevisionId": "0B2vTDi5a6bqLQmFzcWIxY0RtYUQwUVc0Y2IrY0Y4RU5zZlZZPQ",
          "isAppAuthorized": true,
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 4
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-13T16:14:04.516Z",
      "createdAt": "2026-03-13T16:14:04.516Z",
      "role": "workflow:owner",
      "workflowId": "2YG8YdGNTawzKLeW",
      "projectId": "xgOOcboctxelndaF"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-13T16:39:16.194Z",
  "versionId": "023939ed-6837-43f7-98ff-c6fbb6e3014b"
}