workflows/6DimA5s43FiufVtV.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Search Reel Folder": {
      "main": [
        [
          {
            "node": "Check or create Review_videos folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check or create Approved_videos folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Shot file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to Drive": {
      "main": [
        [],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Images1": {
      "main": [
        [
          {
            "node": "shot num with images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Kling1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video1": {
      "main": [
        [
          {
            "node": "Mege for ReviewVideo folder name",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Set shot number with direct motion video link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'video render v1'": {
      "main": [
        [
          {
            "node": "Mege for Final video folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client Folder name": {
      "main": [
        [
          {
            "node": "Get Automation folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video Avatar Folders": {
      "main": [
        [
          {
            "node": "Get video Avatar to use based on account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video Avatar to use based on account": {
      "main": [
        [
          {
            "node": "Get all Avatars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Automation folder": {
      "main": [
        [
          {
            "node": "Search Reel Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Approved Images Folder": {
      "main": [
        [
          {
            "node": "List Approved Images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Approved Images": {
      "main": [
        [
          {
            "node": "Split Images1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort on the shot number": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video url": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mege for ReviewVideo folder name": {
      "main": [
        [
          {
            "node": "check file and delete for the update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check or create Review_videos folder": {
      "main": [
        [
          {
            "node": "Update sheet for review video status and links",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mege for ReviewVideo folder name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check or create Approved_videos folder": {
      "main": [
        [
          {
            "node": "Check or create Final_Video folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check file and delete for the update": {
      "main": [
        [
          {
            "node": "Upload Video to Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check or create Final_Video folder": {
      "main": [
        [
          {
            "node": "Mege for Final video folder",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Final Video": {
      "main": [
        [
          {
            "node": "Update sheet for final status and link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video binary": {
      "main": [
        [
          {
            "node": "Upload Final Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mege for Final video folder": {
      "main": [
        [
          {
            "node": "Get video binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update sheet for final status and link": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update sheet for review video status and links": {
      "main": [
        [],
        [
          {
            "node": "Catch Reel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Reels": {
      "main": [
        [],
        [
          {
            "node": "Get Client Folder name",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Catch Reel Error": {
      "main": [
        [
          {
            "node": "Update Status = error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status = error": {
      "main": [
        [
          {
            "node": "Loop Over Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Shot file": {
      "main": [
        [
          {
            "node": "Download Shot script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Shot script": {
      "main": [
        [
          {
            "node": "Data to JSON (shots)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data to JSON (shots)": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Approved Images Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "shot num with images": {
      "main": [
        [
          {
            "node": "Sort on the shot number",
            "type": "main",
            "index": 0
          },
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Call 'video render v1'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows": {
      "main": [
        [
          {
            "node": "Loop Over Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check for number of motion videos to stich": {
      "main": [
        [
          {
            "node": "Call 'video render v1' for motion videos stiching",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call 'video render v1' for motion videos stiching": {
      "main": [
        [
          {
            "node": "Get video binary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video binary1": {
      "main": [
        [
          {
            "node": "Upload stiched motion file to common pool",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete temp video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload stiched motion file to common pool": {
      "main": [
        [
          {
            "node": "Set shot number with motion video link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set shot number with motion video link": {
      "main": [
        []
      ]
    },
    "Set shot number with direct motion video link": {
      "main": [
        [
          {
            "node": "Send to Kling1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mege for all shots and their motion video links": {
      "main": [
        []
      ]
    },
    "check status": {
      "main": [
        [
          {
            "node": "if in progress?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if in progress?": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "wait and try again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait and try again": {
      "main": [
        [
          {
            "node": "check status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "fetch response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "check status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch response": {
      "main": [
        [
          {
            "node": "Download Video1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get video url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-11T07:12:13.300Z",
  "id": "6DimA5s43FiufVtV",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Phase 2: Images to motion video generation",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=Reel_{{ $('Loop Over Reels').item.json['Reel number'] }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "f7f0c456-2b2c-4a24-b6ef-9564b23ecb75",
      "name": "Search Reel Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -544,
        432
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "f4a7c85c-77a2-4fa7-822b-38143ca338e9",
      "name": "Download Image from Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1632,
        192
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $('Download Video1').item.binary.data }}",
        "name": "={{ $('Merge').item.json.name }}_video.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Mege for ReviewVideo folder name').item.json.folderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "39d33109-6490-4073-a9a2-75df19036f51",
      "name": "Upload Video to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3856,
        1232
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "aeb9634b-b8e8-49e0-9c71-e7e0cc8d2dbc",
      "name": "Split Images1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        944,
        896
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://queue.fal.run/fal-ai/kling-video/v2.6/pro/motion-control",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "falAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\":\"{{ $json.image_link }}\",\n  \"video_url\": \"{{ $json.motion_video_link }}\",\n\"character_orientation\": \"image\"\n}",
        "options": {}
      },
      "id": "0f0e5a75-7356-4e77-9db7-cae57bc09da7",
      "name": "Send to Kling1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1712,
        1088
      ],
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2C57ErkbWq5DDrEX",
          "name": "app.upload"
        },
        "falAiApi": {
          "id": "Itle3koBNa9fJuAk",
          "name": "fal.ai account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "options": {}
      },
      "id": "83fd9455-7453-4740-9042-b011af2bf028",
      "name": "Download Video1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3200,
        1024
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1408,
        896
      ],
      "id": "3d8d0bd4-7b7a-429c-946a-0e1b5b5d0ac3",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "maxItems": 7
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1792,
        816
      ],
      "id": "61bce1bb-8b75-410b-bce8-558614c0fdad",
      "name": "Limit",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1952,
        272
      ],
      "id": "fecc96df-4d84-4ce1-95c8-b019733ebdc7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uzd38cC6ZsZfpLSq",
          "mode": "list",
          "cachedResultUrl": "/workflow/uzd38cC6ZsZfpLSq",
          "cachedResultName": "video render v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_link_list": "={{ $json.urls }}",
            "audio_link": "={{ $json['Song link(direct download)'] }}",
            "output_video_name": "={{ $json['Reel number'] }}.mp4",
            "audio_start_time": "={{ $json['Start Time of Song'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_link_list",
              "displayName": "video_link_list",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "audio_link",
              "displayName": "audio_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "audio_start_time",
              "displayName": "audio_start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output_video_name",
              "displayName": "output_video_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2768,
        1664
      ],
      "id": "8f3f254a-f9ff-4763-ba73-c99b66e42a5f",
      "name": "Call 'video render v1'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json['Client(drive folder name)'] }}",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1qUxlo9bKPUUoD4vVLR66SZm6LOEHLLc-",
            "mode": "list",
            "cachedResultName": "Clients",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1qUxlo9bKPUUoD4vVLR66SZm6LOEHLLc-"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1008,
        432
      ],
      "id": "a98c8304-3b25-4856-8793-1d3802f59e9c",
      "name": "Get Client Folder name",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "video_avatar_accounts",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "dea667d2-693c-4f4c-8314-2f6be9d53b8a",
      "name": "Get video Avatar Folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Get Rows').item.json['Account to post'] }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "97913fb6-dd67-450a-a504-cea631e43d90",
      "name": "Get video Avatar to use based on account",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "03f5d82b-3860-499e-a5f3-0a7ff1a41b95",
      "name": "Get all Avatars",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=short_video_automation",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -768,
        432
      ],
      "id": "f32d264c-b0b7-4033-b507-38f449a9523a",
      "name": "Get Automation folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Approved_images",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Search Reel Folder').item.json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        896
      ],
      "id": "bb8d7161-7e98-4341-a483-270f5385f84c",
      "name": "Get Approved Images Folder",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "id": "63664e96-22c1-4bf5-950b-aca6f64cebf2",
      "name": "List Approved Images",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        752,
        896
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1248,
        1088
      ],
      "id": "a4e7677d-182d-411a-8938-aecc85acdbd2",
      "name": "Sort on the shot number",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst urls = items.map(item => item.json.video.url);\n\nreturn [\n  {\n    json: {\n      urls: urls\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        1696
      ],
      "id": "e044d8a1-cc8d-47c1-9b0e-0a564c442f84",
      "name": "Get video url",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3152,
        192
      ],
      "id": "e3c0bfeb-646b-47c5-b0ed-d6cad7004498",
      "name": "Mege for ReviewVideo folder name",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LV6KV28deGpPkOEm",
          "mode": "list",
          "cachedResultUrl": "/workflow/LV6KV28deGpPkOEm",
          "cachedResultName": "Check and Create Drive folder subworkflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parentFolderID": "={{ $('Search Reel Folder').item.json.id }}",
            "folderToCreateOrSearch": "Review_videos"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parentFolderID",
              "displayName": "parentFolderID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "folderToCreateOrSearch",
              "displayName": "folderToCreateOrSearch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        352,
        320
      ],
      "id": "13fe876e-ff3d-4202-b401-00ed407ebeb5",
      "name": "Check or create Review_videos folder",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LV6KV28deGpPkOEm",
          "mode": "list",
          "cachedResultUrl": "/workflow/LV6KV28deGpPkOEm",
          "cachedResultName": "Check and Create Drive folder subworkflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parentFolderID": "={{ $('Search Reel Folder').item.json.id }}",
            "folderToCreateOrSearch": "Approved_videos "
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parentFolderID",
              "displayName": "parentFolderID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "folderToCreateOrSearch",
              "displayName": "folderToCreateOrSearch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        16,
        1648
      ],
      "id": "e9ec383b-81fc-4d49-9381-8905c7050568",
      "name": "Check or create Approved_videos folder",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NHtAA68XwRTbAXHO",
          "mode": "list",
          "cachedResultUrl": "/workflow/NHtAA68XwRTbAXHO",
          "cachedResultName": "check file existence"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "deleteUpdate": true,
            "filename": "={{ $('Merge').item.json.name }}_video.mp4",
            "folderid": "={{ $json.folderId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "folderid",
              "displayName": "folderid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "deleteUpdate",
              "displayName": "deleteUpdate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3584,
        1040
      ],
      "id": "9c308add-d9fd-49d9-9739-b509317bff81",
      "name": "check file and delete for the update",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LV6KV28deGpPkOEm",
          "mode": "list",
          "cachedResultUrl": "/workflow/LV6KV28deGpPkOEm",
          "cachedResultName": "Check and Create Drive folder subworkflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "parentFolderID": "={{ $('Search Reel Folder').item.json.id }}",
            "folderToCreateOrSearch": "Final_video"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parentFolderID",
              "displayName": "parentFolderID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "folderToCreateOrSearch",
              "displayName": "folderToCreateOrSearch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        800,
        1648
      ],
      "id": "19aea164-2335-4e15-ad3a-aca0ce96d951",
      "name": "Check or create Final_Video folder",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "name": "={{ $('Get Rows').item.json['Reel number'] }}_final_reel.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Mege for Final video folder').item.json.folderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1344,
        2064
      ],
      "id": "f7fbc6c2-daba-4efb-be2e-f80e2df4460d",
      "name": "Upload Final Video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fileSelector": "=/tmp/{{ $('Get Rows').item.json['Reel number'] }}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        928,
        2000
      ],
      "id": "a9b1f61d-7044-4769-8c68-f278cc4bc5ef",
      "name": "Get video binary",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2992,
        1792
      ],
      "id": "b971072d-653a-4b77-9271-77e4ce52d7d3",
      "name": "Mege for Final video folder",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc",
          "mode": "list",
          "cachedResultName": "Short Video Generation DB- Jass Records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Reel number": "={{ $('Get Rows').item.json['Reel number'] }}",
            "Status of Automation": "Final_video_Generated",
            "Final Video Drive Download Link": "={{ $json.webContentLink }}"
          },
          "matchingColumns": [
            "Reel number"
          ],
          "schema": [
            {
              "id": "Reel number",
              "displayName": "Reel number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client(drive folder name)",
              "displayName": "Client(drive folder name)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Account to post",
              "displayName": "Account to post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Avatars to use(comma seperated)",
              "displayName": "Avatars to use(comma seperated)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Avtar Drive links(optional & bypasses Avatar to use field)",
              "displayName": "Avtar Drive links(optional & bypasses Avatar to use field)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reel Type",
              "displayName": "Reel Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Concept input(optional)",
              "displayName": "Concept input(optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Song link(direct download)",
              "displayName": "Song link(direct download)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Start Time of Song",
              "displayName": "Start Time of Song",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Total Time of Reel(Secs)",
              "displayName": "Total Time of Reel(Secs)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status of Automation",
              "displayName": "Status of Automation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Drive link for image approvals",
              "displayName": "Drive link for image approvals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Drive link for video approval",
              "displayName": "Drive link for video approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Final Video Drive Download Link",
              "displayName": "Final Video Drive Download Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Schedule Date",
              "displayName": "Post Schedule Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post Schedule Time",
              "displayName": "Post Schedule Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1584,
        2064
      ],
      "id": "c016f645-b224-457a-a1d0-fcfdc2fc406b",
      "name": "Update sheet for final status and link",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fhIAilo8SGlashT9",
          "name": "Google Sheets account 3"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc",
          "mode": "list",
          "cachedResultName": "Short Video Generation DB- Jass Records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Drive link for video approval": "=https://drive.google.com/drive/u/1/folders/{{ $('Check or create Review_videos folder').item.json.folderId }}",
            "Reel number": "={{ $('Get Rows').item.json['Reel number'] }}"
          },
          "matchingColumns": [
            "Reel number"
          ],
          "schema": [
            {
              "id": "Reel number",
              "displayName": "Reel number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client(drive folder name)",
              "displayName": "Client(drive folder name)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Account to post",
              "displayName": "Account to post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Avatars to use(comma seperated)",
              "displayName": "Avatars to use(comma seperated)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Avtar Drive links(optional & bypasses Avatar to use field)",
              "displayName": "Avtar Drive links(optional & bypasses Avatar to use field)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reel Type",
              "displayName": "Reel Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Concept input(optional)",
              "displayName": "Concept input(optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Song link(direct download)",
              "displayName": "Song link(direct download)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Start Time of Song",
              "displayName": "Start Time of Song",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Total Time of Reel(Secs)",
              "displayName": "Total Time of Reel(Secs)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status of Automation",
              "displayName": "Status of Automation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Drive link for image approvals",
              "displayName": "Drive link for image approvals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Drive link for video approval",
              "displayName": "Drive link for video approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final Video Drive Download Link",
              "displayName": "Final Video Drive Download Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post Schedule Date",
              "displayName": "Post Schedule Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post Schedule Time",
              "displayName": "Post Schedule Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Workflow execution link",
              "displayName": "Workflow execution link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Error Details",
              "displayName": "Error Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        656
      ],
      "id": "b655458f-bb7d-467c-aa24-24a2370e6af1",
      "name": "Update sheet for review video status and links",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fhIAilo8SGlashT9",
          "name": "Google Sheets account 3"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "74a6ffec-0f5e-447c-b1b9-a8c837f8e8ff",
      "name": "Loop Over Reels",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1280,
        416
      ],
      "notes": "Processes one reel at a time. Error on any reel marks it and continues to next."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-1",
              "name": "errorMessage",
              "value": "={{ $json.error?.message ?? 'Unknown error' }}",
              "type": "string"
            },
            {
              "id": "err-2",
              "name": "failedNode",
              "value": "={{ $json.error?.node?.name ?? 'unknown node' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "501f3a94-c6f7-47ea-88e0-e31e3a0d8cb7",
      "name": "Catch Reel Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2128,
        1152
      ],
      "notes": "Collects errors from any critical node and routes to sheet update."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc",
          "mode": "list",
          "cachedResultName": "Short Video Generation DB- Jass Records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get Rows').item.json['row_number'] }}",
            "Status of Automation": "error in video generation"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status of Automation",
              "displayName": "Status of Automation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3763d727-cc1d-4ff2-9af0-6047bdfdeffe",
      "name": "Update Status = error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1824,
        1120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fhIAilo8SGlashT9",
          "name": "Google Sheets account 3"
        }
      },
      "notes": "Marks failed reel as error then loops back to next reel."
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Shots_script",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -288,
        896
      ],
      "id": "74808e30-34e2-435f-b392-bda0f9ee0e74",
      "name": "Search Shot file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        896
      ],
      "id": "39fe1c25-7cd4-4b5a-bdb5-3a47433d45ae",
      "name": "Download Shot script",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nlet results = [];\n\nfor (let i = 0; i < allItems.length; i++) {\n  const item = allItems[i];\n  \n  // Ensure the binary property 'data' exists\n  if (item.binary && item.binary.data) {\n    try {\n      // 1. Use n8n helper to get the buffer correctly\n      const buffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n      \n      // 2. Convert buffer to a UTF-8 string\n      const textContent = buffer.toString('utf-8');\n\n      // 3. Parse the string into a JSON object\n      const jsonContent = JSON.parse(textContent);\n      \n      results.push({\n        json: jsonContent\n      });\n    } catch (error) {\n      results.push({\n        json: { \n          error: \"Parsing Failed\", \n          message: error.message,\n          itemIndex: i\n        }\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        896
      ],
      "id": "0612a0cd-dea3-40d2-8ecb-727a14467a71",
      "name": "Data to JSON (shots)"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        320,
        784
      ],
      "id": "79297e99-ff36-4dc3-a34e-60cf3ab373d4",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const name = $json.name;\n\nconst match = name.match(/shotno_(\\d+)/);\n\nreturn {\n  json: {\n    ...$json,\n    shot_num: parseInt(match[1])\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        880
      ],
      "id": "a643dab1-82c3-430b-9551-abe55f0d9e88",
      "name": "shot num with images"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "shot_num",
              "field2": "data.shot_num"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1648,
        656
      ],
      "id": "81481aea-03fe-4506-8d46-c91d420bfac4",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "277b6fd4-dd3a-4c76-ba96-8ca2baf35320",
              "name": "Song link(direct download)",
              "value": "={{ $json['Song link(direct download)'] }}",
              "type": "string"
            },
            {
              "id": "fe9b1897-1f2c-4880-9ce6-4dc388c41b2d",
              "name": "Start Time of Song",
              "value": "={{ $json['Start Time of Song'] }}",
              "type": "string"
            },
            {
              "id": "348d9317-2cb1-49c7-9071-ade90cd70e04",
              "name": "Reel number",
              "value": "={{ $json['Reel number'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        1904
      ],
      "id": "1c34d5c3-7f3f-4460-87e0-33e7f1972e95",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2544,
        1632
      ],
      "id": "64503291-119d-4edd-9f82-da15546a612b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc",
          "mode": "list",
          "cachedResultName": "Short Video Generation DB- Jass Records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status of Automation",
              "lookupValue": "Approved_for_video_generation"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1584,
        304
      ],
      "id": "cf02cf9f-040e-4b1b-94f2-9dd18448e4eb",
      "name": "Get Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fhIAilo8SGlashT9",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c37572c6-2ee9-4fa7-bc0e-f7aa40b21982",
              "leftValue": "={{ $json.data.StoryShots.motionURLs.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3920,
        512
      ],
      "id": "ed13c878-c8dc-4ebc-b1fc-b62ba55f445e",
      "name": "check for number of motion videos to stich",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uzd38cC6ZsZfpLSq",
          "mode": "list",
          "cachedResultUrl": "/workflow/uzd38cC6ZsZfpLSq",
          "cachedResultName": "video render v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_link_list": "={{ $json.data.StoryShots.motionURLs}}",
            "audio_link": "=",
            "output_video_name": "={{ $('Limit').item.json.name }}_motion_count_{{ $json.data.StoryShots.motionURLs.length}}.mp4",
            "audio_start_time": "=00:00:00"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_link_list",
              "displayName": "video_link_list",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "audio_link",
              "displayName": "audio_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "audio_start_time",
              "displayName": "audio_start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output_video_name",
              "displayName": "output_video_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4144,
        560
      ],
      "id": "f2f91f40-f519-40b9-908b-3bf04c5fab52",
      "name": "Call 'video render v1' for motion videos stiching",
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fileSelector": "=/tmp/{{ $('Limit').item.json.name }}_motion_count_{{ $('check for number of motion videos to stich').item.json.data.StoryShots.motionURLs.length }}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        4368,
        560
      ],
      "id": "caf79f02-4b37-4521-8e5b-fa74c240976b",
      "name": "Get video binary1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "name": "={{ $('Limit').item.json.name }}_motion_count_{{ $('check for number of motion videos to stich').item.json.data.StoryShots.motionURLs.length }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=1nl0bLEVT5pduiiduTx6vQGIBeQ2fj5e3",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4864,
        560
      ],
      "id": "6a776ce3-10d6-4c34-b54d-941cb2c90772",
      "name": "Upload stiched motion file to common pool",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "command": "=rm /tmp/{{ $('Get Rows').item.json['Reel number'] }}.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1920,
        2064
      ],
      "id": "9a83c1a4-de2d-4759-a72b-f507cfefbfd4",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "command": "=/tmp/{{ $('Limit').item.json.name }}_motion_count_{{ $('check for number of motion videos to stich').item.json.data.StoryShots.motionURLs.length }}.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4576,
        208
      ],
      "id": "4717393a-a94c-4be4-829d-7bdf558779a1",
      "name": "Delete temp video",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7b49f0e-ce73-43de-b8a6-9ae05495b3d1",
              "name": "Shot_no",
              "value": "={{ $('check for number of motion videos to stich').item.json.shot_num }}",
              "type": "number"
            },
            {
              "id": "f8d81c7c-da7c-4401-a948-2681749cbce1",
              "name": "motion_video_link",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            },
            {
              "id": "afb9d7cf-e62b-4e36-8064-9d968d472876",
              "name": "image_link",
              "value": "={{ $('check for number of motion videos to stich').item.json.webContentLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5136,
        528
      ],
      "id": "9f92c1cf-6bb6-4bc8-b0b6-6ebaf8d21ee9",
      "name": "Set shot number with motion video link"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7b49f0e-ce73-43de-b8a6-9ae05495b3d1",
              "name": "Shot_no",
              "value": "={{ $json.shot_num }}",
              "type": "number"
            },
            {
              "id": "f8d81c7c-da7c-4401-a948-2681749cbce1",
              "name": "motion_video_link",
              "value": "={{ $json.data.StoryShots.motionURLs[0] }}",
              "type": "string"
            },
            {
              "id": "8fab6296-93de-4e7a-86f7-221d1d2f9a13",
              "name": "image_link",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        832
      ],
      "id": "013c386a-b45d-441e-8e0d-7d5075e36b41",
      "name": "Set shot number with direct motion video link"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4896,
        288
      ],
      "id": "d94a79ef-b1d9-4fa9-bf56-293d07639cd8",
      "name": "Mege for all shots and their motion video links",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.status_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "falAiApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2432,
        1232
      ],
      "id": "bee0846a-1a9c-43e1-9d40-5794ebb9efc2",
      "name": "check status",
      "credentials": {
        "falAiApi": {
          "id": "Itle3koBNa9fJuAk",
          "name": "fal.ai account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b4ea925c-9cd5-4c90-bffe-2703f42b352c",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2848,
        1216
      ],
      "id": "969fc7bc-618f-40a1-bf8b-848218023a4d",
      "name": "if in progress?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3056,
        1248
      ],
      "id": "41c6c268-6ddf-431d-b4c2-55279dd8c2b5",
      "name": "wait and try again",
      "webhookId": "f66bfdef-9bfc-41c8-897a-81e6ea56cf1b"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2208,
        1088
      ],
      "id": "79287b13-b980-417b-838f-c54784b092fa",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "falAiApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2640,
        1040
      ],
      "id": "6bbc4846-aa2a-405c-b241-6e7799017e4d",
      "name": "fetch response",
      "credentials": {
        "falAiApi": {
          "id": "Itle3koBNa9fJuAk",
          "name": "fal.ai account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "Call 'video render v1' for motion videos stiching": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        },
        "pairedItem": {
          "item": 4
        }
      }
    ],
    "Get video binary1": [
      {
        "json": {
          "mimeType": "video/mp4",
          "fileType": "video",
          "fileName": "reel_115_shotno_1_motion_count_3.mp4",
          "fileExtension": "mp4",
          "fileSize": "1.34 MB"
        },
        "binary": {
          "data": {
            "mimeType": "video/mp4",
            "fileType": "video",
            "fileExtension": "mp4",
            "data": "filesystem-v2",
            "directory": "/tmp",
            "fileName": "reel_115_shotno_1_motion_count_3.mp4",
            "id": "filesystem-v2:workflows/6DimA5s43FiufVtV/executions/3112/binary_data/342221b7-1ac4-4aab-81bb-7db1ca954b9a",
            "fileSize": "1.34 MB",
            "bytes": 1335080
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "mimeType": "video/mp4",
          "fileType": "video",
          "fileName": "reel_115_shotno_2_motion_count_2.mp4",
          "fileExtension": "mp4",
          "fileSize": "862 kB"
        },
        "binary": {
          "data": {
            "mimeType": "video/mp4",
            "fileType": "video",
            "fileExtension": "mp4",
            "data": "filesystem-v2",
            "directory": "/tmp",
            "fileName": "reel_115_shotno_2_motion_count_2.mp4",
            "id": "filesystem-v2:workflows/6DimA5s43FiufVtV/executions/3112/binary_data/c652f849-6625-4599-bf24-1bf62c0c570d",
            "fileSize": "862 kB",
            "bytes": 862009
          }
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "mimeType": "video/mp4",
          "fileType": "video",
          "fileName": "reel_115_shotno_3_motion_count_2.mp4",
          "fileExtension": "mp4",
          "fileSize": "1.46 MB"
        },
        "binary": {
          "data": {
            "mimeType": "video/mp4",
            "fileType": "video",
            "fileExtension": "mp4",
            "data": "filesystem-v2",
            "directory": "/tmp",
            "fileName": "reel_115_shotno_3_motion_count_2.mp4",
            "id": "filesystem-v2:workflows/6DimA5s43FiufVtV/executions/3112/binary_data/9fa951ea-6c02-41b9-afa3-703ee24c4f11",
            "fileSize": "1.46 MB",
            "bytes": 1456980
          }
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "mimeType": "video/mp4",
          "fileType": "video",
          "fileName": "reel_115_shotno_4_motion_count_2.mp4",
          "fileExtension": "mp4",
          "fileSize": "1.33 MB"
        },
        "binary": {
          "data": {
            "mimeType": "video/mp4",
            "fileType": "video",
            "fileExtension": "mp4",
            "data": "filesystem-v2",
            "directory": "/tmp",
            "fileName": "reel_115_shotno_4_motion_count_2.mp4",
            "id": "filesystem-v2:workflows/6DimA5s43FiufVtV/executions/3112/binary_data/798ad88a-2722-4017-8f3e-595d46267bcc",
            "fileSize": "1.33 MB",
            "bytes": 1329866
          }
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "mimeType": "video/mp4",
          "fileType": "video",
          "fileName": "reel_115_shotno_5_motion_count_2.mp4",
          "fileExtension": "mp4",
          "fileSize": "874 kB"
        },
        "binary": {
          "data": {
            "mimeType": "video/mp4",
            "fileType": "video",
            "fileExtension": "mp4",
            "data": "filesystem-v2",
            "directory": "/tmp",
            "fileName": "reel_115_shotno_5_motion_count_2.mp4",
            "id": "filesystem-v2:workflows/6DimA5s43FiufVtV/executions/3112/binary_data/65b444ef-a971-45de-800a-9c8c32e81c30",
            "fileSize": "874 kB",
            "bytes": 873622
          }
        },
        "pairedItem": {
          "item": 4
        }
      }
    ],
    "Upload stiched motion file to common pool": [
      {
        "json": {
          "kind": "drive#file",
          "id": "19ZLVcUZPG6UbXm3Pl3cjYxwtXrCAdzr6",
          "name": "reel_115_shotno_1_motion_count_3.mp4",
          "mimeType": "video/mp4",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "parents": [
            "1nl0bLEVT5pduiiduTx6vQGIBeQ2fj5e3"
          ],
          "spaces": [
            "drive"
          ],
          "version": "4",
          "webContentLink": "https://drive.google.com/uc?id=19ZLVcUZPG6UbXm3Pl3cjYxwtXrCAdzr6&export=download",
          "webViewLink": "https://drive.google.com/file/d/19ZLVcUZPG6UbXm3Pl3cjYxwtXrCAdzr6/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/video/mp4",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": false,
          "createdTime": "2026-03-11T08:23:34.582Z",
          "modifiedTime": "2026-03-11T08:23:35.486Z",
          "modifiedByMeTime": "2026-03-11T08:23:35.486Z",
          "modifiedByMe": true,
          "owners": [
            {
              "kind": "drive#user",
              "displayName": "Vekhii Jaa",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
              "me": true,
              "permissionId": "11535262035090087718",
              "emailAddress": "vekhiijaa@gmail.com"
            }
          ],
          "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "Vekhii Jaa",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
            "me": true,
            "permissionId": "11535262035090087718",
            "emailAddress": "vekhiijaa@gmail.com"
          },
          "shared": true,
          "ownedByMe": true,
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "anyoneWithLink",
              "type": "anyone",
              "role": "reader",
              "allowFileDiscovery": false
            },
            {
              "kind": "drive#permission",
              "id": "03152748759455991487",
              "type": "user",
              "emailAddress": "madansabloknew@gmail.com",
              "role": "writer",
              "displayName": "madansabloknew",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "06664136964052654300",
              "type": "user",
              "emailAddress": "gursimar.vekhiijaa@gmail.com",
              "role": "writer",
              "displayName": "gursimar.vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "11535262035090087718",
              "type": "user",
              "emailAddress": "vekhiijaa@gmail.com",
              "role": "owner",
              "displayName": "vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "permissionIds": [
            "anyoneWithLink",
            "03152748759455991487",
            "06664136964052654300",
            "11535262035090087718"
          ],
          "originalFilename": "reel_115_shotno_1_motion_count_3.mp4",
          "fullFileExtension": "mp4",
          "fileExtension": "mp4",
          "md5Checksum": "4723da22318aa49ac22172b0ede928e6",
          "sha1Checksum": "71f33d16a58c27f8b6cdea387c19c1731ecdd1db",
          "sha256Checksum": "a3e8c16f12181ee42e8843810fcaa8ae21df9e3ebbe71c26b345888bcb8f1f15",
          "size": "1335080",
          "quotaBytesUsed": "1335080",
          "headRevisionId": "0B2vTDi5a6bqLVVlXak9vVnA2NlV5dHczZHAxSnlKQWV1U25ZPQ",
          "isAppAuthorized": true,
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "kind": "drive#file",
          "id": "1wm3sXhhM3giMUt77lZcpEB2XbkfUF-f_",
          "name": "reel_115_shotno_2_motion_count_2.mp4",
          "mimeType": "video/mp4",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "parents": [
            "1nl0bLEVT5pduiiduTx6vQGIBeQ2fj5e3"
          ],
          "spaces": [
            "drive"
          ],
          "version": "4",
          "webContentLink": "https://drive.google.com/uc?id=1wm3sXhhM3giMUt77lZcpEB2XbkfUF-f_&export=download",
          "webViewLink": "https://drive.google.com/file/d/1wm3sXhhM3giMUt77lZcpEB2XbkfUF-f_/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/video/mp4",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": false,
          "createdTime": "2026-03-11T08:23:38.925Z",
          "modifiedTime": "2026-03-11T08:23:39.755Z",
          "modifiedByMeTime": "2026-03-11T08:23:39.755Z",
          "modifiedByMe": true,
          "owners": [
            {
              "kind": "drive#user",
              "displayName": "Vekhii Jaa",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
              "me": true,
              "permissionId": "11535262035090087718",
              "emailAddress": "vekhiijaa@gmail.com"
            }
          ],
          "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "Vekhii Jaa",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
            "me": true,
            "permissionId": "11535262035090087718",
            "emailAddress": "vekhiijaa@gmail.com"
          },
          "shared": true,
          "ownedByMe": true,
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "anyoneWithLink",
              "type": "anyone",
              "role": "reader",
              "allowFileDiscovery": false
            },
            {
              "kind": "drive#permission",
              "id": "03152748759455991487",
              "type": "user",
              "emailAddress": "madansabloknew@gmail.com",
              "role": "writer",
              "displayName": "madansabloknew",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "06664136964052654300",
              "type": "user",
              "emailAddress": "gursimar.vekhiijaa@gmail.com",
              "role": "writer",
              "displayName": "gursimar.vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "11535262035090087718",
              "type": "user",
              "emailAddress": "vekhiijaa@gmail.com",
              "role": "owner",
              "displayName": "vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "permissionIds": [
            "anyoneWithLink",
            "03152748759455991487",
            "06664136964052654300",
            "11535262035090087718"
          ],
          "originalFilename": "reel_115_shotno_2_motion_count_2.mp4",
          "fullFileExtension": "mp4",
          "fileExtension": "mp4",
          "md5Checksum": "8c02e601cb8981c2cb56c7e0de3e5e00",
          "sha1Checksum": "a6c35321cfba7a910dc6432bb57dca2168fd42bc",
          "sha256Checksum": "2569984fce2d0647c597c4edabaed77bbf6f5bc11f146a30f32e24fa09e575a5",
          "size": "862009",
          "quotaBytesUsed": "862009",
          "headRevisionId": "0B2vTDi5a6bqLUFpEVWRQd21xWDJRazl0bFhxVytMWlJEV1JJPQ",
          "isAppAuthorized": true,
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "kind": "drive#file",
          "id": "1-0GM2aWqNqjqbyHpb7EJEfy6TnxTA5Vf",
          "name": "reel_115_shotno_3_motion_count_2.mp4",
          "mimeType": "video/mp4",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "parents": [
            "1nl0bLEVT5pduiiduTx6vQGIBeQ2fj5e3"
          ],
          "spaces": [
            "drive"
          ],
          "version": "4",
          "webContentLink": "https://drive.google.com/uc?id=1-0GM2aWqNqjqbyHpb7EJEfy6TnxTA5Vf&export=download",
          "webViewLink": "https://drive.google.com/file/d/1-0GM2aWqNqjqbyHpb7EJEfy6TnxTA5Vf/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/video/mp4",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": false,
          "createdTime": "2026-03-11T08:23:44.215Z",
          "modifiedTime": "2026-03-11T08:23:45.058Z",
          "modifiedByMeTime": "2026-03-11T08:23:45.058Z",
          "modifiedByMe": true,
          "owners": [
            {
              "kind": "drive#user",
              "displayName": "Vekhii Jaa",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
              "me": true,
              "permissionId": "11535262035090087718",
              "emailAddress": "vekhiijaa@gmail.com"
            }
          ],
          "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "Vekhii Jaa",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
            "me": true,
            "permissionId": "11535262035090087718",
            "emailAddress": "vekhiijaa@gmail.com"
          },
          "shared": true,
          "ownedByMe": true,
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "anyoneWithLink",
              "type": "anyone",
              "role": "reader",
              "allowFileDiscovery": false
            },
            {
              "kind": "drive#permission",
              "id": "03152748759455991487",
              "type": "user",
              "emailAddress": "madansabloknew@gmail.com",
              "role": "writer",
              "displayName": "madansabloknew",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "06664136964052654300",
              "type": "user",
              "emailAddress": "gursimar.vekhiijaa@gmail.com",
              "role": "writer",
              "displayName": "gursimar.vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "11535262035090087718",
              "type": "user",
              "emailAddress": "vekhiijaa@gmail.com",
              "role": "owner",
              "displayName": "vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "permissionIds": [
            "anyoneWithLink",
            "03152748759455991487",
            "06664136964052654300",
            "11535262035090087718"
          ],
          "originalFilename": "reel_115_shotno_3_motion_count_2.mp4",
          "fullFileExtension": "mp4",
          "fileExtension": "mp4",
          "md5Checksum": "7365e297c12b72a0fb66b5f35caa7689",
          "sha1Checksum": "6bfb2222b30612f05f6b4c34652fff60e8cb93c0",
          "sha256Checksum": "62df8ab28ed91825df88f4dcaf17f89321370d17078174e9fbd0136b94ef9125",
          "size": "1456980",
          "quotaBytesUsed": "1456980",
          "headRevisionId": "0B2vTDi5a6bqLOTJheXZMaFh2NVFvSlUvdXJ0b2JSZExxU3NFPQ",
          "isAppAuthorized": true,
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "kind": "drive#file",
          "id": "1wgYTOeU-M7ZyQpLtUP2DohDNE0ek60y6",
          "name": "reel_115_shotno_4_motion_count_2.mp4",
          "mimeType": "video/mp4",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "parents": [
            "1nl0bLEVT5pduiiduTx6vQGIBeQ2fj5e3"
          ],
          "spaces": [
            "drive"
          ],
          "version": "4",
          "webContentLink": "https://drive.google.com/uc?id=1wgYTOeU-M7ZyQpLtUP2DohDNE0ek60y6&export=download",
          "webViewLink": "https://drive.google.com/file/d/1wgYTOeU-M7ZyQpLtUP2DohDNE0ek60y6/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/video/mp4",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": false,
          "createdTime": "2026-03-11T08:23:48.716Z",
          "modifiedTime": "2026-03-11T08:23:49.603Z",
          "modifiedByMeTime": "2026-03-11T08:23:49.603Z",
          "modifiedByMe": true,
          "owners": [
            {
              "kind": "drive#user",
              "displayName": "Vekhii Jaa",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
              "me": true,
              "permissionId": "11535262035090087718",
              "emailAddress": "vekhiijaa@gmail.com"
            }
          ],
          "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "Vekhii Jaa",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
            "me": true,
            "permissionId": "11535262035090087718",
            "emailAddress": "vekhiijaa@gmail.com"
          },
          "shared": true,
          "ownedByMe": true,
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "anyoneWithLink",
              "type": "anyone",
              "role": "reader",
              "allowFileDiscovery": false
            },
            {
              "kind": "drive#permission",
              "id": "03152748759455991487",
              "type": "user",
              "emailAddress": "madansabloknew@gmail.com",
              "role": "writer",
              "displayName": "madansabloknew",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "06664136964052654300",
              "type": "user",
              "emailAddress": "gursimar.vekhiijaa@gmail.com",
              "role": "writer",
              "displayName": "gursimar.vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "11535262035090087718",
              "type": "user",
              "emailAddress": "vekhiijaa@gmail.com",
              "role": "owner",
              "displayName": "vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "permissionIds": [
            "anyoneWithLink",
            "03152748759455991487",
            "06664136964052654300",
            "11535262035090087718"
          ],
          "originalFilename": "reel_115_shotno_4_motion_count_2.mp4",
          "fullFileExtension": "mp4",
          "fileExtension": "mp4",
          "md5Checksum": "20d63693373b40684d29c67c522f175b",
          "sha1Checksum": "8c6cd2b1a234d2754e541bc9ff2931fb4e9e2e71",
          "sha256Checksum": "06e7491c05c66f07c449329706129298f5450d0d37cc22ec23b07e8262e8da0b",
          "size": "1329866",
          "quotaBytesUsed": "1329866",
          "headRevisionId": "0B2vTDi5a6bqLV1NXU216NnhZcVV3b3F4dldxazlJR3FRSnZVPQ",
          "isAppAuthorized": true,
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "kind": "drive#file",
          "id": "10Ja6oLPZ5fdi3Je80MDU5H4wbm2HGUIr",
          "name": "reel_115_shotno_5_motion_count_2.mp4",
          "mimeType": "video/mp4",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "parents": [
            "1nl0bLEVT5pduiiduTx6vQGIBeQ2fj5e3"
          ],
          "spaces": [
            "drive"
          ],
          "version": "3",
          "webContentLink": "https://drive.google.com/uc?id=10Ja6oLPZ5fdi3Je80MDU5H4wbm2HGUIr&export=download",
          "webViewLink": "https://drive.google.com/file/d/10Ja6oLPZ5fdi3Je80MDU5H4wbm2HGUIr/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/video/mp4",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": false,
          "createdTime": "2026-03-11T08:23:53.041Z",
          "modifiedTime": "2026-03-11T08:23:53.859Z",
          "modifiedByMeTime": "2026-03-11T08:23:53.859Z",
          "modifiedByMe": true,
          "owners": [
            {
              "kind": "drive#user",
              "displayName": "Vekhii Jaa",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
              "me": true,
              "permissionId": "11535262035090087718",
              "emailAddress": "vekhiijaa@gmail.com"
            }
          ],
          "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "Vekhii Jaa",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64",
            "me": true,
            "permissionId": "11535262035090087718",
            "emailAddress": "vekhiijaa@gmail.com"
          },
          "shared": true,
          "ownedByMe": true,
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "anyoneWithLink",
              "type": "anyone",
              "role": "reader",
              "allowFileDiscovery": false
            },
            {
              "kind": "drive#permission",
              "id": "03152748759455991487",
              "type": "user",
              "emailAddress": "madansabloknew@gmail.com",
              "role": "writer",
              "displayName": "madansabloknew",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "06664136964052654300",
              "type": "user",
              "emailAddress": "gursimar.vekhiijaa@gmail.com",
              "role": "writer",
              "displayName": "gursimar.vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "11535262035090087718",
              "type": "user",
              "emailAddress": "vekhiijaa@gmail.com",
              "role": "owner",
              "displayName": "vekhiijaa",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "permissionIds": [
            "anyoneWithLink",
            "03152748759455991487",
            "06664136964052654300",
            "11535262035090087718"
          ],
          "originalFilename": "reel_115_shotno_5_motion_count_2.mp4",
          "fullFileExtension": "mp4",
          "fileExtension": "mp4",
          "md5Checksum": "bdb463a49d93758dcffb967c366f8e4b",
          "sha1Checksum": "15ce733a4526e99ee147f9095f62d9621f36d86b",
          "sha256Checksum": "c77584df675f8db539bdbb660d60921c825ef2d21c563ab61f9fa88b33f11205",
          "size": "873622",
          "quotaBytesUsed": "873622",
          "headRevisionId": "0B2vTDi5a6bqLQmFzcWIxY0RtYUQwUVc0Y2IrY0Y4RU5zZlZZPQ",
          "isAppAuthorized": true,
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 4
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-11T07:12:13.305Z",
      "createdAt": "2026-03-11T07:12:13.305Z",
      "role": "workflow:owner",
      "workflowId": "6DimA5s43FiufVtV",
      "projectId": "xgOOcboctxelndaF"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-11T13:12:15.264Z",
  "versionId": "108bc3f1-e79a-4e79-b44e-34493880e4f6"
}