workflows/87WfHccFMMBmNVE15_Upload to Instagram, TikTok & YouTube from Google Drive.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "If",
            "type": "main"
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait",
            "type": "main"
          }
        ]
      ]
    },
    "Generate Description for Videos  in Tiktok and Instagram": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Get Audio from Video": {
      "main": [
        [
          {
            "index": 0,
            "node": "Generate Description for Videos  in Tiktok and Instagram",
            "type": "main"
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Audio from Video",
            "type": "main"
          },
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "index": 0,
            "node": "Telegram",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Facebook Graph API",
            "type": "main"
          }
        ]
      ]
    },
    "Read Video from Google Drive3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload Video and Description to Youtube",
            "type": "main"
          }
        ]
      ]
    },
    "Upload Video and Description to Instagram": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "index": 0,
            "node": "Facebook Graph API1",
            "type": "main"
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "index": 0,
            "node": "Google Drive",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-15T06:28:21.914Z",
  "id": "87WfHccFMMBmNVE1",
  "isArchived": false,
  "meta": null,
  "name": "5_Upload to Instagram, TikTok & YouTube from Google Drive",
  "nodes": [
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "b6HZBXRasr7i574n",
          "name": "Google Drive account 2"
        }
      },
      "disabled": true,
      "id": "30247c1b-cbd8-4c81-bdf2-d1d87a04c365",
      "name": "Google Drive Trigger",
      "parameters": {
        "event": "fileCreated",
        "folderToWatch": {
          "__rl": true,
          "cachedResultName": "Influencersde",
          "cachedResultUrl": "https://drive.google.com/drive/folders/18m0i341QLQuyWuHv_FBdz8-r-QDtofYm",
          "mode": "list",
          "value": "18m0i341QLQuyWuHv_FBdz8-r-QDtofYm"
        },
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder"
      },
      "position": [
        -1536,
        416
      ],
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "h3JY0RD1UyXn0wXp",
          "name": "Google Drive account Arya"
        }
      },
      "id": "901dadc4-247f-4f26-910a-6287d428bbbe",
      "name": "Google Drive",
      "parameters": {
        "authentication": "oAuth2",
        "fileId": {
          "__rl": true,
          "cachedResultName": "WIN_20240421_01_13_58_Pro.mp4",
          "cachedResultUrl": "https://drive.google.com/file/d/1gsVjjvCmLcYUl3BIZFwk6R0gUOVc_-DR/view?usp=drivesdk",
          "mode": "list",
          "value": "1gsVjjvCmLcYUl3BIZFwk6R0gUOVc_-DR"
        },
        "operation": "download",
        "options": {}
      },
      "position": [
        -1088,
        384
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "waitBetweenTries": 5000
    },
    {
      "id": "4e5d5122-2253-4664-ba8a-665fcfedbe28",
      "name": "Error Trigger",
      "parameters": {},
      "position": [
        -864,
        736
      ],
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1
    },
    {
      "id": "992fd901-f4f5-4ccb-97d6-778d2eefe3a3",
      "name": "Telegram",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        },
        "text": "=🔔 ERROR SUBIENDO VIDEOS"
      },
      "position": [
        -528,
        704
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "waitBetweenTries": 5000,
      "webhookId": "f6729386-9905-45f1-800f-4fe01a06ac9c"
    },
    {
      "id": "01f4ca4e-55b7-480e-b523-51600311d61c",
      "name": "If",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "9fadb3fd-2547-42bd-8f40-f410a97dcf57",
              "leftValue": "={{ $json.trigger.error.message }}",
              "operator": {
                "operation": "notContains",
                "type": "string"
              },
              "rightValue": "The DNS server returned an error, perhaps the server is offline"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "position": [
        -720,
        736
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1
    },
    {
      "id": "16e8cad1-033c-4d27-8bd6-6f2e87fd8202",
      "name": "Sticky Note",
      "parameters": {
        "content": "## Description\nThis automation allows you to upload a video to a configured Google Drive folder, and it will automatically create descriptions and upload it to Instagram and TikTok.\n\n## How to Use\n1. Generate an API token at upload-post.com and add to Upload to Tiktok and Upload to Instagram nodes\n2. Configure your Google Drive folder\n3. Customize the OpenAI prompt for your specific use case\n4. Optional: Configure Telegram for error notifications\n\n## Requirements\n- upload-post.com account\n- Google Drive account\n- OpenAI API key\n",
        "height": 260,
        "width": 860
      },
      "position": [
        -1712,
        64
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "HtC3pXdXhNPajOpZ",
          "name": "OpenAi account"
        }
      },
      "id": "616835a0-08e7-41d8-b89e-0598069eb10c",
      "name": "Get Audio from Video",
      "notes": "Extract the audio from video for generate the description",
      "notesInFlow": true,
      "parameters": {
        "operation": "transcribe",
        "options": {},
        "resource": "audio"
      },
      "position": [
        -784,
        384
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "waitBetweenTries": 5000
    },
    {
      "id": "009e2ac9-d2f7-4f23-9c26-b3cf38d5727d",
      "name": "Read video from Google Drive",
      "parameters": {
        "dataPropertyName": "",
        "fileName": "={{ $json.id }}",
        "options": {
          "append": false
        }
      },
      "position": [
        -688,
        32
      ],
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "HtC3pXdXhNPajOpZ",
          "name": "OpenAi account"
        }
      },
      "id": "f4d791db-4fa0-4921-af28-6a3d25796ef8",
      "name": "Generate Description for Videos  in Tiktok and Instagram",
      "notes": "Request to OpenAi for generate description with the audio extracted from the video",
      "notesInFlow": true,
      "parameters": {
        "messages": {
          "values": [
            {
              "content": "You are an expert assistant in creating engaging social media video titles.",
              "role": "system"
            },
            {
              "content": "=I'm going to upload a video to social media. Here are some examples of descriptions that have worked well on Instagram:\n\nFollow and save for later. Discover InfluencersDe, the AI tool that automates TikTok creation and publishing to drive traffic to your website. Perfect for entrepreneurs and brands.\n#digitalmarketing #ugc #tiktok #ai #influencersde #contentcreation\n\nDiscover the video marketing revolution with InfluencersDe!\n.\n.\n.\n#socialmedia #videomarketing #ai #tiktok #influencersde #growthhacking\n\nDon't miss InfluencersDe, the tool that transforms your marketing strategy with just one click!\n.\n.\n.\n#ugc #ai #tiktok #digitalmarketing #influencersde #branding\n\nCan you create another title for the Instagram post based on this recognized audio from the video?\n\nAudio: {{ $('Get Audio from Video').item.json.text }}\n\nIMPORTANT: Reply only with the description, don't add anything else."
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4O",
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "position": [
        -592,
        384
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "waitBetweenTries": 5000
    },
    {
      "id": "5afcc7d5-a5db-443d-9d7f-e91a99d81c1f",
      "name": "Read Video from Google Drive",
      "parameters": {
        "dataPropertyName": "datavideo",
        "filePath": "={{ $('Read video from Google Drive').item.json.originalFilename.replaceAll(\" \", \"_\") }}"
      },
      "position": [
        -256,
        32
      ],
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1
    },
    {
      "id": "e3483d14-72a1-4648-b709-cd444294411a",
      "name": "Read Video from Google Drive2",
      "parameters": {
        "dataPropertyName": "datavideo",
        "filePath": "=data"
      },
      "position": [
        -496,
        32
      ],
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1
    },
    {
      "id": "be19bfce-636c-4d03-8ab3-9afc74bf2ecc",
      "name": "Upload Video and Description to Tiktok",
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)",
      "notesInFlow": true,
      "parameters": {
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Description for Videos  in Tiktok and Instagram').item.json.message.content.replaceAll(\"\\\"\", \"\") }}"
            },
            {
              "name": "platform[]",
              "value": "tiktok"
            },
            {
              "inputDataFieldName": "datavideo",
              "name": "video",
              "parameterType": "formBinaryData"
            },
            {
              "name": "user",
              "value": "Add user generated in upload-post"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "url": "https://api.upload-post.com/api/upload"
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "id": "2C57ErkbWq5DDrEX",
          "name": "app.upload"
        }
      },
      "id": "2909ff30-829e-4060-97e7-c587776479c6",
      "name": "Upload Video and Description to Instagram",
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)",
      "notesInFlow": true,
      "parameters": {
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Description for Videos  in Tiktok and Instagram').item.json.message.content.replaceAll(\"\\\"\", \"\") }}"
            },
            {
              "name": "platform[]",
              "value": "instagram"
            },
            {
              "inputDataFieldName": "data",
              "name": "video",
              "parameterType": "formBinaryData"
            },
            {
              "name": "user",
              "value": "autoupload"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "url": "https://api.upload-post.com/api/upload"
      },
      "position": [
        -192,
        240
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "e9521300-ad50-4579-94c4-a4990b41bf82",
      "name": "Read Video from Google Drive3",
      "parameters": {
        "dataPropertyName": "datavideo",
        "filePath": "={{ $('Read video from Google Drive').item.json.originalFilename.replaceAll(\" \", \"_\") }}"
      },
      "position": [
        224,
        16
      ],
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1
    },
    {
      "id": "7aeb0126-6343-4aff-a4a8-a0e56f49a7b9",
      "name": "Upload Video and Description to Youtube",
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)",
      "notesInFlow": true,
      "parameters": {
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Description for Videos  in Tiktok and Instagram').item.json.message.content.replaceAll(\"\\\"\", \"\").substring(0, 70) }}\n"
            },
            {
              "name": "platform[]",
              "value": "youtube"
            },
            {
              "inputDataFieldName": "datavideo",
              "name": "video",
              "parameterType": "formBinaryData"
            },
            {
              "name": "user",
              "value": "test2"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "url": "https://api.upload-post.com/api/upload"
      },
      "position": [
        352,
        32
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "disabled": true,
      "id": "025191e8-7236-46d5-b954-254e5fe161a5",
      "name": "When clicking ‘Execute workflow’",
      "parameters": {},
      "position": [
        -1248,
        384
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "671b6c7c-a08a-4651-a45d-46f4add85b04",
      "name": "Merge",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        -240,
        512
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "KXxIBGEjUKl43IzP",
          "name": "YouTube account"
        }
      },
      "id": "51161db4-59c3-4b18-acd0-bca420dce835",
      "name": "Upload a video",
      "parameters": {
        "categoryId": "10",
        "operation": "upload",
        "options": {},
        "regionCode": "IN",
        "resource": "video",
        "title": "={{ \n  ($json.message?.content || 'Short Video')\n    .replace(/\\n/g, ' ')\n    .slice(0, 90)\n}}\n"
      },
      "position": [
        112,
        640
      ],
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1
    },
    {
      "id": "4185ea71-c229-460c-93ee-16bbcb46b724",
      "name": "HTTP Request",
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {},
        "url": "https://graph.facebook.com/v19.0/me/accounts"
      },
      "position": [
        688,
        144
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "credentials": {
        "facebookGraphApi": {
          "id": "SJstlJXO7E1CAbz8",
          "name": "Facebook Graph account"
        }
      },
      "id": "feebe795-9c06-4cdf-8885-584068a1ddbc",
      "name": "Facebook Graph API",
      "parameters": {
        "edge": "media",
        "graphApiVersion": "v23.0",
        "httpRequestMethod": "POST",
        "node": "17841474119999455",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "video_url",
                "value": "https://res.cloudinary.com/di5t9fm4m/video/upload/v1771614455/Reels/WIN_20260129_18_34_39_Pro.mp4"
              },
              {
                "name": "caption",
                "value": "={{ $('Merge').item.json.message.content }}"
              },
              {
                "name": "media_type",
                "value": "REELS"
              }
            ]
          }
        }
      },
      "position": [
        96,
        448
      ],
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1
    },
    {
      "credentials": {
        "facebookGraphApi": {
          "id": "SJstlJXO7E1CAbz8",
          "name": "Facebook Graph account"
        }
      },
      "id": "5da759a8-d2e1-4ab2-923c-d361100fd9ce",
      "name": "Facebook Graph API1",
      "parameters": {
        "edge": "media_publish",
        "graphApiVersion": "v23.0",
        "httpRequestMethod": "POST",
        "node": "17841474119999455",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "position": [
        400,
        448
      ],
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1
    },
    {
      "id": "d89ac57d-0c95-4007-ae56-09116c78dfab",
      "name": "Wait",
      "parameters": {
        "amount": 25
      },
      "position": [
        240,
        448
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "50aaef5e-dd27-48c2-a2be-911b86b2b554"
    },
    {
      "id": "f5867df5-3621-46f6-a6a3-09cf68289e7e",
      "name": "Sticky Note1",
      "parameters": {
        "content": "we need to use cloudinary to upload reels, and get public url"
      },
      "position": [
        32,
        272
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "ecf49355-3d70-4bbc-a460-e4b826a7ed35",
      "name": "Create a post",
      "parameters": {
        "additionalFields": {}
      },
      "position": [
        112,
        848
      ],
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1
    }
  ],
  "pinData": {
    "Generate Description for Videos  in Tiktok and Instagram": [
      {
        "json": {
          "finish_reason": "stop",
          "index": 0,
          "logprobs": null,
          "message": {
            "annotations": [],
            "content": "Unlock Simplified Strategies with InfluencersDe – Making Marketing Magic! #ai #tiktok #digitalmarketing #influencersde #contentcreation",
            "refusal": null,
            "role": "assistant"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get Audio from Video": [
      {
        "json": {
          "text": "Certainly, when I communicate technical concepts, I find it effective to use analogies yielded ",
          "usage": {
            "seconds": 7,
            "type": "duration"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Upload Video and Description to Instagram": [
      {
        "json": {
          "results": {
            "instagram": {
              "changes": [
                "frame_rate: 14.98501498501498501498501499 -> 23"
              ],
              "media_type": "REELS",
              "post_id": "18097079609297518",
              "prevalidation_metadata": {
                "audio_codec": "aac",
                "container": "mov,mp4,m4a,3gp,3g2,mj2",
                "duration": 7.054458,
                "fps": 14.985014985014985,
                "height": 720,
                "remote_job_id": "7b00e2fd-aa49-409b-b832-26c640152acd",
                "remote_public_url": "https://balrog.upload-post.com/files/7b00e2fd-aa49-409b-b832-26c640152acd/out-7903352a45a144c1a1cc7db047e4a86f.mp4",
                "video_codec": "h264",
                "width": 1280
              },
              "success": true,
              "url": "https://www.instagram.com/reel/DU1LuAbCaPz/",
              "video_was_transcoded": true
            }
          },
          "success": true,
          "usage": {
            "count": 3,
            "last_reset": "2026-01-29T12:38:41.347609",
            "limit": 10
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-02-15T06:28:21.918Z",
      "projectId": "xgOOcboctxelndaF",
      "role": "workflow:owner",
      "updatedAt": "2026-02-15T06:28:21.918Z",
      "workflowId": "87WfHccFMMBmNVE1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-08T13:24:37.320Z",
  "versionId": "4cf26184-0fd5-4dfe-b012-12256dd75b65"
}