workflows/fQeV6nsZefVD3QoePhase1: Data to Image Generation- Concept Videos copy.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "14. Create photos_review Subfolder": {
      "main": [
        [
          {
            "index": 0,
            "node": "15. Merge Folder ID + Context",
            "type": "main"
          }
        ]
      ]
    },
    "15. Merge Folder ID + Context": {
      "main": [
        [
          {
            "index": 0,
            "node": "16. Split Into Individual Shots",
            "type": "main"
          }
        ]
      ]
    },
    "2. Extract Reel Data": {
      "main": [
        [
          {
            "index": 0,
            "node": "checking if concept is present",
            "type": "main"
          }
        ]
      ]
    },
    "3. Download Song MP3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Translate a recording",
            "type": "main"
          }
        ]
      ]
    },
    "5. Merge concept + Reel Data": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Client Folder name",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Merfe for concept and Avatar Data",
            "type": "main"
          }
        ]
      ]
    },
    "6. Get Account Avatar URLs": {
      "main": [
        [
          {
            "index": 0,
            "node": "7. Merge Avatar URLs + All Data",
            "type": "main"
          }
        ]
      ]
    },
    "7. Merge Avatar URLs + All Data": {
      "main": [
        []
      ]
    },
    "9. Parse Gemini Response": {
      "main": [
        []
      ]
    },
    "Analyze an image1": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request1",
            "type": "main"
          }
        ]
      ]
    },
    "Create Approved_images Folder": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Review_images Folder",
            "type": "main"
          }
        ]
      ]
    },
    "Create Master Shot folder with subworkflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge for image and drive folder",
            "type": "main"
          }
        ]
      ]
    },
    "Create Reelfolder": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Reel FolderID",
            "type": "main"
          }
        ]
      ]
    },
    "Create Review FolderID": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Master Shot folder with subworkflow",
            "type": "main"
          }
        ]
      ]
    },
    "Create Review_images Folder": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Review FolderID",
            "type": "main"
          }
        ]
      ]
    },
    "Create automation directory in client folder": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get automation directory ID",
            "type": "main"
          }
        ]
      ]
    },
    "Download Master Image": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge for image and drive folder",
            "type": "main"
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Analyze an image",
            "type": "main"
          }
        ]
      ]
    },
    "Generate Master Image": {
      "main": [
        [
          {
            "index": 0,
            "node": "Search for automation Directory",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Download Master Image",
            "type": "main"
          }
        ]
      ]
    },
    "Generate an image1": {
      "main": [
        []
      ]
    },
    "Generate media using AI model": {
      "main": [
        [
          {
            "index": 0,
            "node": "__CUSTOM_API_CALL__ model",
            "type": "main"
          }
        ]
      ]
    },
    "Get All Avatar names and total": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merfe for concept and Avatar Data",
            "type": "main"
          },
          {
            "index": 1,
            "node": "Merge for Avatar names and shots",
            "type": "main"
          }
        ]
      ]
    },
    "Get Avatar Folder name and Id": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get all Image link in avatars",
            "type": "main"
          }
        ]
      ]
    },
    "Get Client Folder name": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get video Avatar Folders",
            "type": "main"
          }
        ]
      ]
    },
    "Get Gemini output again": {
      "main": [
        [
          {
            "index": 0,
            "node": "Split for story shots",
            "type": "main"
          }
        ]
      ]
    },
    "Get Reel FolderID": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create file from text",
            "type": "main"
          },
          {
            "index": 0,
            "node": "checking for review image folder exist",
            "type": "main"
          }
        ]
      ]
    },
    "Get all Avatars": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Get all Image link in avatars": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge Folder and Image Data",
            "type": "main"
          }
        ]
      ]
    },
    "Get automation directory ID": {
      "main": [
        [
          {
            "index": 0,
            "node": "Search parent Reel",
            "type": "main"
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "index": 0,
            "node": "2. Extract Reel Data",
            "type": "main"
          }
        ]
      ]
    },
    "Get video Avatar Folders": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get video Avatar to use based on account",
            "type": "main"
          }
        ]
      ]
    },
    "Get video Avatar to use based on account": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get all Avatars",
            "type": "main"
          }
        ]
      ]
    },
    "Group the Avtar & Image links": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get All Avatar names and total",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file1",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request3",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "index": 0,
            "node": "If1",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request",
            "type": "main"
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Reel FolderID",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Create Reelfolder",
            "type": "main"
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request4",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "HTTP Request3",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "Group the Avtar & Image links",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Get Avatar Folder name and Id",
            "type": "main"
          }
        ]
      ]
    },
    "Merfe for concept and Avatar Data": {
      "main": [
        [
          {
            "index": 0,
            "node": "Message a model1",
            "type": "main"
          }
        ]
      ]
    },
    "Merge Folder and Image Data": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Merge for Avatar names and shots": {
      "main": [
        [
          {
            "index": 0,
            "node": "Generate Master Image",
            "type": "main"
          }
        ]
      ]
    },
    "Merge for image and drive folder": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload file",
            "type": "main"
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "index": 0,
            "node": "5. Merge concept + Reel Data",
            "type": "main"
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse Gemini Output",
            "type": "main"
          }
        ]
      ]
    },
    "Parse Gemini Output": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge for Avatar names and shots",
            "type": "main"
          }
        ]
      ]
    },
    "Search for automation Directory": {
      "main": [
        [
          {
            "index": 0,
            "node": "check if directory exists",
            "type": "main"
          }
        ]
      ]
    },
    "Search parent Reel": {
      "main": [
        [
          {
            "index": 0,
            "node": "If",
            "type": "main"
          }
        ]
      ]
    },
    "Split for story shots": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code in JavaScript1",
            "type": "main"
          }
        ]
      ]
    },
    "Translate a recording": {
      "main": [
        [
          {
            "index": 0,
            "node": "Message a model",
            "type": "main"
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "index": 0,
            "node": "Share file",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Get Gemini output again",
            "type": "main"
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get row(s) in sheet",
            "type": "main"
          }
        ]
      ]
    },
    "check if directory exists": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get automation directory ID",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Create automation directory in client folder",
            "type": "main"
          }
        ]
      ]
    },
    "checking for review image folder exist": {
      "main": [
        [
          {
            "index": 0,
            "node": "review image folder found?",
            "type": "main"
          }
        ]
      ]
    },
    "checking if concept is present": {
      "main": [
        [
          {
            "index": 0,
            "node": "5. Merge concept + Reel Data",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "3. Download Song MP3",
            "type": "main"
          }
        ]
      ]
    },
    "review image folder found?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Review FolderID",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Create Approved_images Folder",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-06T14:49:34.873Z",
  "id": "fQeV6nsZefVD3Qoe",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Phase1: Data to Image Generation- Concept Videos copy",
  "nodes": [
    {
      "id": "c8846117-96d8-41fe-b4cf-ba5250840c99",
      "name": "2. Extract Reel Data",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "reelNumber",
              "type": "string",
              "value": "={{ $json['Reel number'] }}"
            },
            {
              "id": "a2",
              "name": "accountToPost",
              "type": "string",
              "value": "={{ $json['Account to post'] }}"
            },
            {
              "id": "a3",
              "name": "reelType",
              "type": "string",
              "value": "={{ $json['Reel Type'] }}"
            },
            {
              "id": "a4",
              "name": "conceptInput",
              "type": "string",
              "value": "={{ $json['Concept input(optional)'] ?? '' }}"
            },
            {
              "id": "a5",
              "name": "songLink",
              "type": "string",
              "value": "={{ $json['Song link(direct download)'] }}"
            },
            {
              "id": "a6",
              "name": "startTimeSong",
              "type": "string",
              "value": "={{ $json['Start Time of Song'] }}"
            },
            {
              "id": "d783bf3d-e17b-4a3c-8fe4-f5ba5060bccf",
              "name": "totalTimeReel",
              "type": "string",
              "value": "={{ $json['Total Time of Reel(Secs)'] }}"
            },
            {
              "id": "9bc96e5b-bcea-4c2d-90d6-1a7a4a85ac76",
              "name": "statusOfAutomation",
              "type": "string",
              "value": "={{ $json['Status of Automation'] }}"
            },
            {
              "id": "ad0bfff0-c10e-4ff8-b262-a3b4f2abbb8a",
              "name": "avtarList",
              "type": "string",
              "value": "={{ $json['Avatars to use(comma seperated)'] }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -2576,
        112
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "b60db219-6e5e-4bd9-a330-74c1d6393f6c",
      "name": "3. Download Song MP3",
      "notes": "Downloads the MP3 file from the Google Drive/direct link in the sheet",
      "parameters": {
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        },
        "url": "={{ $json.songLink }}"
      },
      "position": [
        -2048,
        304
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OxLRVQBZ6UBxNsn3",
          "name": "Google Sheets account Arya"
        }
      },
      "id": "ded0801e-0379-46f3-b70e-c73905b952f9",
      "name": "6. Get Account Avatar URLs",
      "notes": "Reads from Avatar Mappings tab. Expects columns: Account Username, Avatar 1 URL, Avatar 2 URL, etc.",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "Sample Sheet for auto video generation based on song",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/185AvpfoBuoD87Pzi9kwtY_4FiAALGkpv0JT7GtVgPHo/edit?usp=drivesdk",
          "mode": "list",
          "value": "185AvpfoBuoD87Pzi9kwtY_4FiAALGkpv0JT7GtVgPHo"
        },
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "insta_avatar_details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/185AvpfoBuoD87Pzi9kwtY_4FiAALGkpv0JT7GtVgPHo/edit#gid=1667808130",
          "mode": "list",
          "value": 1667808130
        }
      },
      "position": [
        896,
        -448
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5
    },
    {
      "id": "9f1430fb-791e-4577-bda5-f20a5f241818",
      "name": "7. Merge Avatar URLs + All Data",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "avatar1Url",
              "type": "string",
              "value": "={{ $json.avatar1 }}"
            },
            {
              "id": "c2",
              "name": "avatar2Url",
              "type": "string",
              "value": "={{ $json.avatar2 }}"
            },
            {
              "id": "c3",
              "name": "avatar3Url",
              "type": "string",
              "value": "={{ $json['Avatar 3 URL'] ?? '' }}"
            },
            {
              "id": "c4",
              "name": "transcription",
              "type": "string",
              "value": "={{ $('5. Merge concept + Reel Data').item.json.transcription }}"
            },
            {
              "id": "c5",
              "name": "reelNumber",
              "type": "string",
              "value": "={{ $('5. Merge concept + Reel Data').item.json.reelNumber }}"
            },
            {
              "id": "c6",
              "name": "accountToPost",
              "type": "string",
              "value": "={{ $('5. Merge concept + Reel Data').item.json.accountToPost }}"
            },
            {
              "id": "c7",
              "name": "reelType",
              "type": "string",
              "value": "={{ $('5. Merge concept + Reel Data').item.json.reelType }}"
            },
            {
              "id": "c8",
              "name": "conceptInput",
              "type": "string",
              "value": "={{ $('5. Merge concept + Reel Data').item.json.conceptInput }}"
            },
            {
              "id": "c9",
              "name": "timing",
              "type": "string",
              "value": "={{ $('5. Merge concept + Reel Data').item.json.timing }}"
            },
            {
              "id": "c10",
              "name": "songLink",
              "type": "string",
              "value": "={{ $('5. Merge concept + Reel Data').item.json.songLink }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1280,
        -448
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "b439966d-7f05-430c-b90f-c37c4a560236",
      "name": "8. Gemini - Full Concept + Shot Breakdown",
      "notes": "Single Gemini call: picks avatars, defines clothes/background, generates concept and all shot prompts",
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are a creative director for Instagram reels. Your job is to do ALL of the following in a SINGLE response as valid JSON only:\\n\\n1. Understand the song concept from the lyrics\\n2. Pick the best avatar(s) from the list provided\\n3. Define clothes and background for the scene\\n4. Break down the reel into 4-5 shots with prompts\\n\\nINPUT DATA:\\nSong Lyrics/Transcription: {{ $json.transcription }}\\nReel Type: {{ $json.reelType }}\\nTiming: {{ $json.timing }}\\nOptional Concept Hint: {{ $json.conceptInput }}\\n\\nAVAILABLE AVATARS FOR THIS ACCOUNT:\\nAvatar 1 URL: {{ $json.avatar1Url }}\\nAvatar 2 URL: {{ $json.avatar2Url }}\\nAvatar 3 URL: {{ $json.avatar3Url }}\\n\\nReturn ONLY this JSON structure, no markdown, no explanation:\\n{\\n  \\\"song_concept\\\": \\\"2-3 sentence summary of the song's theme and mood\\\",\\n  \\\"selected_avatars\\\": [\\n    { \\\"avatar_url\\\": \\\"URL of avatar chosen\\\", \\\"role\\\": \\\"why this avatar fits the concept\\\" }\\n  ],\\n  \\\"clothes\\\": \\\"Detailed clothing description for the avatar(s) that fits the song mood\\\",\\n  \\\"background\\\": \\\"Detailed background/setting description that fits the song mood\\\",\\n  \\\"nanobana_reference_prompt\\\": \\\"Full prompt to generate the first reference image showing all selected avatars together with the defined clothes and background. Be very detailed.\\\",\\n  \\\"shots\\\": [\\n    {\\n      \\\"shot_number\\\": 1,\\n      \\\"shot_name\\\": \\\"short_name_no_spaces\\\",\\n      \\\"description\\\": \\\"What happens in this shot\\\",\\n      \\\"image_generation_prompt\\\": \\\"Detailed fal.ai prompt for this shot, referencing the clothes and background, maintaining avatar consistency\\\",\\n      \\\"camera_motion\\\": \\\"e.g. slow zoom in, pan left, static shot, dolly forward\\\",\\n      \\\"duration_seconds\\\": 3\\n    }\\n  ]\\n}\"\n    }]\n  }]\n}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent"
      },
      "position": [
        -176,
        -336
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "acc9748b-5dac-4976-b8ab-6764aafddadc",
      "name": "9. Parse Gemini Response",
      "parameters": {
        "jsCode": "// Get raw Gemini\nconst rawText = $input.first().json.content.parts[0].text;\n\nif (!rawText) {\n  throw new Error(\"Gemini returned empty text\");\n}\n\n// Remove markdown fences if present\nlet cleaned = rawText\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// Extract JSON safely\nconst match = cleaned.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  throw new Error(\"No valid JSON found in Gemini response\");\n}\n\ncleaned = match[0];\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error(\"Invalid JSON from Gemini: \" + cleaned.substring(0, 300));\n}\n\n// Get previous workflow context\nconst ctx = $node[\"7. Merge Avatar URLs + All Data\"].json;\n\n// Return structured data for your pipeline\nreturn [{\n  json: {\n    reelNumber: ctx.reelNumber,\n    accountToPost: ctx.accountToPost,\n    reelType: ctx.reelType,\n    timing: ctx.timing,\n    songLink: ctx.songLink,\n\n    lyricalSubtext: parsed.lyrical_subtext || \"\",\n    colorPalette: parsed.color_palette || \"\",\n    identityAnchor: parsed.identity_anchor || \"\",\n    outfitStyling: parsed.styling?.outfit || \"\",\n    lightingStyling: parsed.styling?.lighting || \"\",\n    reference_image_prompt:parsed.reference_image_prompt || \"\",\n    shots: parsed.shots || [],\n    totalShots: parsed.shots?.length || 0\n  }\n}];"
      },
      "position": [
        672,
        -64
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "fd5b0b65-e8e5-462e-bae3-785eaa352854",
      "name": "11. Nanobana - Generate Reference Image",
      "notes": "IMPORTANT: Update URL and request body to match actual Nanobana API docs. This uses a guessed structure.",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_NANOBANA_API_KEY"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $json.nanobanaReferencePrompt }}\",\n  \"avatar_urls\": {{ JSON.stringify($json.avatarUrlsForNanobana) }},\n  \"width\": 1080,\n  \"height\": 1920,\n  \"style\": \"cinematic\"\n}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://api.nanobana.ai/v1/generate"
      },
      "position": [
        576,
        -400
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "470300e6-51ed-4067-8b77-a5e6cfdb358b",
      "name": "12. Extract Reference Image URL",
      "parameters": {
        "jsCode": "const ctx = $node[\"10. Prepare Nanobana Input\"].json;\n\nreturn [{\n  json: ctx,\n  binary: $input.first().binary\n}];"
      },
      "position": [
        1424,
        -272
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "h3JY0RD1UyXn0wXp",
          "name": "Google Drive account Arya"
        }
      },
      "id": "28f8fb29-ed65-4e28-87c0-47af8eb91c60",
      "name": "14. Create photos_review Subfolder",
      "notes": "Creates: Reel_{number}/photos_review/ subfolder",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "myDrive"
        },
        "folderId": {
          "__rl": true,
          "mode": "expression",
          "value": "={{ $json.id }}"
        },
        "name": "photos_review",
        "options": {}
      },
      "position": [
        1680,
        -224
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "1be99884-3856-4f3a-be0f-5e3d4e6312ee",
      "name": "15. Merge Folder ID + Context",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1",
              "name": "reviewFolderId",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "d2",
              "name": "reviewFolderLink",
              "type": "string",
              "value": "=https://drive.google.com/drive/folders/{{ $json.id }}"
            },
            {
              "id": "d3",
              "name": "referenceImageUrl",
              "type": "string",
              "value": "={{ $('12. Extract Reference Image URL').item.json.referenceImageUrl }}"
            },
            {
              "id": "d4",
              "name": "shots",
              "type": "array",
              "value": "={{ $('12. Extract Reference Image URL').item.json.shots }}"
            },
            {
              "id": "d5",
              "name": "reelNumber",
              "type": "string",
              "value": "={{ $('12. Extract Reference Image URL').item.json.reelNumber }}"
            },
            {
              "id": "d6",
              "name": "clothes",
              "type": "string",
              "value": "={{ $('12. Extract Reference Image URL').item.json.clothes }}"
            },
            {
              "id": "d7",
              "name": "background",
              "type": "string",
              "value": "={{ $('12. Extract Reference Image URL').item.json.background }}"
            },
            {
              "id": "d8",
              "name": "accountToPost",
              "type": "string",
              "value": "={{ $('12. Extract Reference Image URL').item.json.accountToPost }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1952,
        -240
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "bed545e1-5af5-490f-9f0b-d9beda7b0c21",
      "name": "16. Split Into Individual Shots",
      "notes": "Creates one item per shot for parallel/sequential processing",
      "parameters": {
        "fieldToSplitOut": "shots",
        "options": {}
      },
      "position": [
        2160,
        -288
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fhIAilo8SGlashT9",
          "name": "Google Sheets account 3"
        }
      },
      "id": "470031f4-48d4-49ae-99db-e1af6c90a774",
      "name": "Get row(s) in sheet",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "Short Video Generation DB- Jass Records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit?usp=drivesdk",
          "mode": "list",
          "value": "10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Reel Type",
              "lookupValue": "Story"
            },
            {
              "lookupColumn": "Status of Automation",
              "lookupValue": "to be picked"
            }
          ]
        },
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Main DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -2800,
        112
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "h3JY0RD1UyXn0wXp",
          "name": "Google Drive account Arya"
        }
      },
      "id": "ac2b7c9a-f26a-4f2a-88b7-9e7a2856d4df",
      "name": "Download file1",
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "url",
          "value": "https://drive.google.com/file/d/14HbGNKzIvfT-4Qei1dpXkZrxmdGrhqmp/view?usp=sharing"
        },
        "operation": "download",
        "options": {}
      },
      "position": [
        32,
        -336
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "4HPFYHEHxx2JZFUX",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "4fb2b0c1-5f8e-4ce7-b2d7-14598cec16ac",
      "name": "Analyze an image",
      "parameters": {
        "inputType": "binary",
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash",
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "{\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are a creative director for Instagram reels. Your job is to do ALL of the following in a SINGLE response as valid JSON only:\\n\\n1. Understand the song concept from the lyrics\\n2. Pick the best avatar(s) from the list provided\\n3. Define clothes and background for the scene\\n4. Break down the reel into 4-5 shots with prompts\\n\\nINPUT DATA:\\nSong Lyrics/Transcription: {{ $json.transcription }}\\nReel Type: {{ $json.reelType }}\\nTiming: {{ $json.timing }}\\nOptional Concept Hint: {{ $json.conceptInput }}\\n\\n}\\n\\nReturn ONLY this JSON structure, no markdown, no explanation:\\n{\\n  \\\"song_concept\\\": \\\"2-3 sentence summary of the song's theme and mood\\\",\\n  \\\"selected_avatars\\\": [\\n    { \\\"avatar_url\\\": \\\"URL of avatar chosen\\\", \\\"role\\\": \\\"why this avatar fits the concept\\\" }\\n  ],\\n  \\\"clothes\\\": \\\"Detailed clothing description for the avatar(s) that fits the song mood\\\",\\n  \\\"background\\\": \\\"Detailed background/setting description that fits the song mood\\\",\\n  \\\"nanobana_reference_prompt\\\": \\\"Full prompt to generate the first reference image showing all selected avatars together with the defined clothes and background. Be very detailed.\\\",\\n  \\\"shots\\\": [\\n    {\\n      \\\"shot_number\\\": 1,\\n      \\\"shot_name\\\": \\\"short_name_no_spaces\\\",\\n      \\\"description\\\": \\\"What happens in this shot\\\",\\n      \\\"image_generation_prompt\\\": \\\"Detailed fal.ai prompt for this shot, referencing the clothes and background, maintaining avatar consistency\\\",\\n      \\\"camera_motion\\\": \\\"e.g. slow zoom in, pan left, static shot, dolly forward\\\",\\n      \\\"duration_seconds\\\": 3\\n    }\\n  ]\\n}\"\n    }]\n  }]\n}"
      },
      "position": [
        240,
        -336
      ],
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "falAiApi": {
          "id": "Itle3koBNa9fJuAk",
          "name": "fal.ai account"
        }
      },
      "id": "6cbe4672-8025-4c0e-bdc1-640b1564e884",
      "name": "Generate media using AI model",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "FLUX.1 Kontext [pro] [image-to-image]",
          "mode": "list",
          "value": "fal-ai/flux-pro/kontext"
        },
        "modelParameters": {
          "parameters": [
            {
              "parameter": "prompt",
              "value": "={{ $json.shots.image_generation_prompt }}"
            },
            {
              "parameter": "image_url",
              "value": "={{ $('Upload file').item.json.webContentLink }}"
            }
          ]
        },
        "options": {
          "maxWaitTime": 600,
          "pollInterval": 5,
          "waitForCompletion": true
        }
      },
      "position": [
        1664,
        704
      ],
      "type": "@fal-ai/n8n-nodes-fal.falAi",
      "typeVersion": 1
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "4HPFYHEHxx2JZFUX",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "f35b0f47-159b-440d-bec9-b46e1ae57b17",
      "name": "Analyze an image1",
      "parameters": {
        "imageUrls": "={{ $json.avatar1Url }}",
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-pro",
          "mode": "list",
          "value": "models/gemini-2.5-pro"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"ROLE: Senior Creative Director & Cinematic Reel Architect. Provide a Shot Script optimized for high-end AI image and video generation.\\n\\nINPUT CONTEXT:\\n1. Avatar Reference Image: MASTER BASE IDENTITY (Visual DNA).\\n2. Song Lyrics: {{ $json.transcription }}\\n3. Reel Mood / Genre: {{ $json.reelType }}\\n4. Aspect Ratio: 9:16 vertical cinematic reel.\\n\\nCRITICAL IDENTITY LOCK:\\n- The reference image defines the EXACT facial bone structure, features, and skin tone.\\n- Hairstyle and Outfit (cream silk blouse) must remain 100% consistent across all shots.\\n- Do NOT modify the character's fundamental likeness.\\n\\nPRIMARY OBJECTIVE:\\n1. Reconstruct a detailed 'Visual DNA' prompt of the avatar.\\n2. Create a 5-shot emotional reel where the CHARACTER is constant, but the VIBE evolves with the lyrics.\\n\\nCREATIVE EXECUTION RULES:\\n\\n1. SUBTEXT & VIBE SHIFT:\\n- Analyze the emotional weight of each lyric line.\\n- EVOLVE the environment and lighting for every shot to match the mood (e.g., from soft morning light to dramatic neon night).\\n\\n2. DYNAMIC CONTINUITY:\\n- Character continuity is MANDATORY (same face, hair, outfit).\\n- Environment continuity is FLEXIBLE: You MAY move the character to different cinematic locations (balcony, city streets, minimalist interiors, abstract light-filled voids) to 'vibe' with the music.\\n- Use diverse lighting: Golden hour, teal/orange noir, high-contrast shadows, or ethereal glows.\\n\\n3. IDENTITY PROMPTING RULE (START EACH PROMPT WITH):\\n\\\"A photorealistic vertical 9:16 portrait of the exact same woman from the reference image, identical facial bone structure, same long wavy dark hair, wearing the exact same cream silk blouse.\\\"\\n\\n4. TECHNICAL IMAGE QUALITY (END EACH PROMPT WITH):\\n\\\"Cinematic lighting, 8k photorealistic, Arri Alexa look, ultra-shallow depth of field, natural skin texture, vertical 9:16 composition.\\\"\\n\\nOUTPUT FORMAT (RETURN ONLY VALID JSON):\\n\\n{\\n  \\\"reference_image_prompt\\\": \\\"Reconstruction of the avatar base identity and original environment.\\\",\\n  \\\"lyrical_subtext\\\": \\\"Psychological meaning of the song\\\",\\n  \\\"emotional_progression\\\": \\\"Evolution of mood across 5 shots\\\",\\n  \\\"color_palette\\\": \\\"The cinematic color journey (e.g., Twilight Blue to Sunset Gold)\\\",\\n  \\\"environment_continuity\\\": \\\"Description of how the world shifts around the character\\\",\\n  \\\"shots\\\": [\\n    {\\n      \\\"shot_number\\\": 1,\\n      \\\"lyric_reference\\\": \\\"Lyric line\\\",\\n      \\\"vibe_match\\\": \\\"Emotional explanation\\\",\\n      \\\"image_generation_prompt\\\": \\\"[IDENTITY PROMPTING RULE] + [Specific new environment, new lighting, emotional pose, and camera angle] + [TECHNICAL QUALITY TAGS]\\\",\\n      \\\"camera_motion\\\": \\\"Cinematic movement (e.g., Slow push-in, Orbit, Tilt)\\\",\\n      \\\"duration_seconds\\\": 3\\n    }\\n  ]\\n}\\n\\nFINAL RULE:\\nThe character must be unmistakable across all shots, but the cinematography must feel like a high-budget music video with changing moods.\\n\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "position": [
        480,
        -48
      ],
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1
    },
    {
      "id": "e8b110ea-94f5-4586-8c65-744c5c2e29cf",
      "name": "If",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "90a23ba2-af30-431c-ba06-db22f173040f",
              "leftValue": "={{ $json.id }}",
              "operator": {
                "operation": "exists",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        -944,
        736
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "id": "5cd1f573-9de4-424c-be8b-316ae310312b",
      "name": "Upload file",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.folderId }}"
        },
        "name": "Master_Reference_image",
        "options": {}
      },
      "position": [
        928,
        944
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "4HPFYHEHxx2JZFUX",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "35e7e260-6362-46e8-8229-14e1ecdc0d20",
      "name": "Edit an image",
      "parameters": {
        "images": {
          "values": [
            {}
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)",
          "mode": "list",
          "value": "models/gemini-2.5-flash-image"
        },
        "operation": "edit",
        "options": {},
        "prompt": "={{ $json.shots.image_generation_prompt }}",
        "resource": "image"
      },
      "position": [
        1808,
        416
      ],
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "h3JY0RD1UyXn0wXp",
          "name": "Google Drive account Arya"
        }
      },
      "id": "100723b2-06d3-467b-86b9-33d23f2d1c69",
      "name": "Upload file1",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create Review FolderID').item.json.ReelFolderId }}"
        },
        "name": "={{ 'reel_' + $('Split for story shots').item.json.reelNumber + '_shot_' + $('Split for story shots').item.json.shots.shot_number + '_' + '.jpg' }}",
        "options": {}
      },
      "position": [
        3312,
        1136
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "3718c571-9ad7-43dd-a56b-9e853b9dd18e",
      "name": "HTTP Request",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        3152,
        1136
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "37a506be-8423-42a3-a4ba-f739499f264a",
      "name": "HTTP Request1",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key REDACTED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"for person <image:0> and <image:1> create {{ $json.StoryShots }} refer <image:2> for overall vibe background and clothing, {{ $json.ClothingDetails }}\",\n  \"image_urls\": [{{ $('Get All Avatar names and total').item.json[\"Reference URLs\"].toJsonString() }},\n    \"{{ $('Upload file').item.json.webContentLink }}\"\n  ],\n  \"elements\": [{}],\n  \"resolution\": \"1K\",\n  \"result_type\": \"single\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"auto\",\n  \"output_format\": \"png\"\n}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/kling-image/o3/image-to-image"
      },
      "position": [
        2048,
        1152
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "HtC3pXdXhNPajOpZ",
          "name": "OpenAi account"
        }
      },
      "id": "b92415fb-e17c-4161-a487-f470f6991e73",
      "name": "Translate a recording",
      "parameters": {
        "operation": "translate",
        "options": {},
        "resource": "audio"
      },
      "position": [
        -1840,
        320
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "id": "b4445f8c-3085-4446-bb7a-07c09131ba87",
      "name": "Share file",
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "operation": "share",
        "options": {},
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        }
      },
      "position": [
        1200,
        816
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "id": "52ac17d4-a05a-4895-9ac6-55299b97a378",
      "name": "Search parent Reel",
      "parameters": {
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.parentFolderId }}"
          }
        },
        "options": {},
        "queryString": "=Reel_{{ $('2. Extract Reel Data').item.json.reelNumber }}",
        "resource": "fileFolder",
        "returnAll": true
      },
      "position": [
        -1104,
        688
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "h3JY0RD1UyXn0wXp",
          "name": "Google Drive account Arya"
        }
      },
      "id": "aefb5e01-2eeb-49de-abb3-0664b29ef47a",
      "name": "Create Reel Folder1",
      "notes": "Only runs if folder does NOT exist",
      "parameters": {
        "driveId": {
          "__rl": true,
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Get Reel FolderID').item.json.parentFolderId }}"
        },
        "name": "=Reel_{{ $('10. Prepare Nanobana Input').item.json.reelNumber }}",
        "options": {},
        "resource": "folder"
      },
      "position": [
        -1008,
        1472
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "id": "c0287167-2f6d-41f1-9f11-7fa61da57926",
      "name": "Create Reelfolder",
      "notes": "Creates: Reel_{number} folder",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Get automation directory ID').item.json.parentFolderId }}"
        },
        "name": "=Reel_{{ $('2. Extract Reel Data').item.json.reelNumber }}",
        "options": {},
        "resource": "folder"
      },
      "position": [
        -880,
        944
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "id": "e2203c21-0d84-49d2-a3df-029705951ae1",
      "name": "Create Review_images Folder",
      "notes": "Only runs if folder does NOT exist",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Get Reel FolderID').item.json.parentFolderId }}"
        },
        "name": "=Review_images",
        "options": {},
        "resource": "folder"
      },
      "position": [
        144,
        1056
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "id": "ab6fb796-842e-49f4-9261-0a14f2d0097f",
      "name": "Create Approved_images Folder",
      "notes": "Only runs if folder does NOT exist",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Get Reel FolderID').item.json.parentFolderId }}"
        },
        "name": "=Approved_images",
        "options": {},
        "resource": "folder"
      },
      "position": [
        -112,
        1056
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "7e73a4a4-c3da-46e0-9ef6-314ede60dcbf",
      "name": "When clicking ‘Execute workflow’",
      "parameters": {},
      "position": [
        -3072,
        112
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "credentials": {
        "falAiApi": {
          "id": "Itle3koBNa9fJuAk",
          "name": "fal.ai account"
        }
      },
      "id": "d3a4e37e-00c7-4a6b-8b4a-e3b15513a59c",
      "name": "HTTP Request3",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "falAiApi",
        "options": {},
        "url": "={{ $json.status_url }}"
      },
      "position": [
        2640,
        1152
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "credentials": {
        "falAiApi": {
          "id": "Itle3koBNa9fJuAk",
          "name": "fal.ai account"
        }
      },
      "id": "90e0fe7c-8bf3-4767-9f62-4f256ebdc27d",
      "name": "HTTP Request4",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "falAiApi",
        "options": {},
        "url": "={{ $json.response_url }}"
      },
      "position": [
        2992,
        1136
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "80f0ff1a-f282-4c84-a4c9-174a6a470131",
      "name": "If1",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "b4ea925c-9cd5-4c90-bffe-2703f42b352c",
              "leftValue": "={{ $json.status }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "COMPLETED"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        2816,
        1152
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "5211bcc8-9642-4a23-9f60-f58c711e49f9",
      "name": "checking if concept is present",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "8364534a-ae01-438f-9713-e9b6294e6ce2",
              "leftValue": "={{ $json.conceptInput }}",
              "operator": {
                "operation": "notEmpty",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        -2320,
        128
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "alwaysOutputData": false,
      "credentials": {
        "googlePalmApi": {
          "id": "4HPFYHEHxx2JZFUX",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "7aa2f67d-83b5-44e8-9ba9-b3e47724638b",
      "name": "Message a model",
      "parameters": {
        "builtInTools": {},
        "messages": {
          "values": [
            {
              "content": "=based on the song lyrics suggest some short concept of 2 lines only.\nchoose easy concept which doesnt have lot of drama and depicts the feel of the song, avoid concpets of crying or sad. avoid concepts that involve lot of scenes to tell a story. Just simple concpet which are dgood for 20-30 sec reel and for which 4-5sshots can be generated to create engaging visuals.",
              "role": "model"
            },
            {
              "content": "=\nsong lyrics transript:  {{ $json.text }}\ncreate a concept"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.0-flash",
          "mode": "list",
          "value": "models/gemini-2.0-flash"
        },
        "options": {}
      },
      "position": [
        -1584,
        352
      ],
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1
    },
    {
      "id": "70e46e20-285b-4788-9b44-d23d1cb6226c",
      "name": "Sticky Note",
      "parameters": {
        "content": "### for arya\ncheck for concept via model or diret and then use in next nodes\n"
      },
      "position": [
        -1856,
        80
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "358fe4e8-2cd5-4dca-9660-c3bcbb75b9aa",
      "name": "5. Merge concept + Reel Data",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "Concept",
              "type": "string",
              "value": "={{ $json.conceptInput }}"
            },
            {
              "id": "b2",
              "name": "reelNumber",
              "type": "string",
              "value": "={{ $('2. Extract Reel Data').item.json.reelNumber }}"
            },
            {
              "id": "b3",
              "name": "accountToPost",
              "type": "string",
              "value": "={{ $('2. Extract Reel Data').item.json.accountToPost }}"
            },
            {
              "id": "b4",
              "name": "reelType",
              "type": "string",
              "value": "={{ $('2. Extract Reel Data').item.json.reelType }}"
            },
            {
              "id": "b5",
              "name": "conceptInput",
              "type": "string",
              "value": "={{ $('2. Extract Reel Data').item.json.conceptInput }}"
            },
            {
              "id": "b6",
              "name": "songLink",
              "type": "string",
              "value": "={{ $('2. Extract Reel Data').item.json.songLink }}"
            },
            {
              "id": "b7",
              "name": "startTimeSong",
              "type": "string",
              "value": "={{ $json.startTimeSong }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -1264,
        128
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "id": "9fd66e07-9399-4fdc-8eda-cdb2c165ba9e",
      "name": "Get Client Folder name",
      "parameters": {
        "filter": {
          "folderId": {
            "__rl": true,
            "cachedResultName": "Clients",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1qUxlo9bKPUUoD4vVLR66SZm6LOEHLLc-",
            "mode": "list",
            "value": "1qUxlo9bKPUUoD4vVLR66SZm6LOEHLLc-"
          }
        },
        "limit": 1,
        "options": {},
        "queryString": "={{ $('Get row(s) in sheet').item.json['Client(drive folder name)'] }}",
        "resource": "fileFolder"
      },
      "position": [
        -1104,
        304
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "id": "1b18b41b-6502-4068-983f-3a41244ea864",
      "name": "Get video Avatar Folders",
      "parameters": {
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.id }}"
          },
          "whatToSearch": "folders"
        },
        "options": {},
        "queryString": "video_avatar_accounts",
        "resource": "fileFolder",
        "returnAll": true
      },
      "position": [
        -896,
        304
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "id": "b41332c5-ea16-4824-a053-d8ec37ee0410",
      "name": "Get video Avatar to use based on account",
      "parameters": {
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.id }}"
          },
          "whatToSearch": "folders"
        },
        "options": {},
        "queryString": "={{ $('Get row(s) in sheet').item.json['Account to post'] }}",
        "resource": "fileFolder",
        "returnAll": true
      },
      "position": [
        -672,
        304
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "id": "b851ba1c-cd8f-4cee-8b8b-1adf282ebeb9",
      "name": "Get all Avatars",
      "parameters": {
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.id }}"
          },
          "whatToSearch": "folders"
        },
        "options": {},
        "resource": "fileFolder",
        "returnAll": true
      },
      "position": [
        -496,
        304
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "id": "85434fed-c0c7-4ed7-9891-12bafe3cd0f4",
      "name": "Get all Image link in avatars",
      "parameters": {
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json['Avatar Id'] }}"
          },
          "whatToSearch": "files"
        },
        "options": {},
        "resource": "fileFolder",
        "returnAll": true
      },
      "position": [
        48,
        416
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "126bbf26-931a-4686-8f63-b4c98c4b8b29",
      "name": "Loop Over Items",
      "parameters": {
        "options": {}
      },
      "position": [
        -304,
        304
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "03924fff-f901-4c8f-a63a-a6488afa5777",
      "name": "Merge Folder and Image Data",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9891ad26-6ad0-4b87-b4dd-91a73ebd3960",
              "name": "Avatar Name",
              "type": "string",
              "value": "={{ $('Get Avatar Folder name and Id').item.json['Avatar Name'] }}"
            },
            {
              "id": "3809959e-384e-4055-b0ed-aa964fab3cea",
              "name": "Avatar Id",
              "type": "string",
              "value": "={{ $('Get Avatar Folder name and Id').item.json['Avatar Id'] }}"
            },
            {
              "id": "75ec39ad-a6f7-4f92-b3ff-6b50f64465aa",
              "name": "Image name",
              "type": "string",
              "value": "={{ $('Get all Image link in avatars').item.json.name }}"
            },
            {
              "id": "19e78621-522c-41ae-bbd2-b4984d1c14e5",
              "name": "Image Id",
              "type": "string",
              "value": "={{ $('Get all Image link in avatars').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        272,
        416
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "50f10f8e-da96-4de8-8d64-95ed78064901",
      "name": "Get Avatar Folder name and Id",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9891ad26-6ad0-4b87-b4dd-91a73ebd3960",
              "name": "Avatar Name",
              "type": "string",
              "value": "={{ $('Loop Over Items').item.json.name }}"
            },
            {
              "id": "3809959e-384e-4055-b0ed-aa964fab3cea",
              "name": "Avatar Id",
              "type": "string",
              "value": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -144,
        416
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "37af5814-ce52-4146-94d4-3b47eee8b7f0",
      "name": "Group the Avtar & Image links",
      "parameters": {
        "jsCode": "// 1. Get the raw string from your specific node\n// Replace '2. Extract Reel Data' with the exact name if different\nconst rawList = $node[\"2. Extract Reel Data\"].json[\"avtarList\"] || \"\";\n\n// 2. Clean the list: split by comma, trim whitespace, and remove empty values\nconst targetAvatars = rawList.split(',')\n  .map(name => name.trim())\n  .filter(name => name.length > 0);\n\n// 3. Get all the input items (the list of image rows you provided)\nconst allRows = items.map(item => item.json);\n\n// 4. Group data by Avatar Name\nconst grouped = {};\n\nallRows.forEach(row => {\n  const name = row[\"Avatar Name\"];\n  \n  // Only process if this name exists in our target list\n  if (targetAvatars.includes(name)) {\n    if (!grouped[name]) {\n      grouped[name] = {\n        \"Avatar Name\": name,\n        \"Avatar Id\": row[\"Avatar Id\"],\n        \"Images\": []\n      };\n    }\n    \n    // Construct the Google Drive download link\n    const downloadLink = `https://drive.google.com/uc?export=download&id=${row[\"Image Id\"]}`;\n    \n    grouped[name].Images.push({\n      \"Image Name\": row[\"Image name\"],\n      \"Download Link\": downloadLink\n    });\n  }\n});\n\n// 5. Convert the grouped object back into an array for n8n output\nreturn Object.values(grouped);"
      },
      "position": [
        -64,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": false,
      "credentials": {
        "googlePalmApi": {
          "id": "4HPFYHEHxx2JZFUX",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "733a9192-bdd3-4e65-a1a4-d8a2965bae2b",
      "name": "Message a model1",
      "parameters": {
        "builtInTools": {},
        "jsonOutput": true,
        "messages": {
          "values": [
            {
              "content": "=Think like a director of the short video wwhere based on avtars and given concept\nyour job is to define prompt for \nMaster shot \nDetails of cloths for all avatars\nMultishot JSON which has 4-5 prompts for mulitple shots defining action, camera angle, action of the avatars\nRules\n1. Whereever avatar name is referred. so start and end with <<>>, example for av_name make it <<av_name>> \n2. No Turning shots\n3. No 360 Shots\n\nJson output only as:\n{\n\"MasterShot\":\"\",\n\"ClothingDetails\":\"\",\n\"LocationDetails:\"\",\n\"StoryShots\":[\"shot1\":\"\",\"shot2\":\"\"... so on]\n\n}",
              "role": "model"
            },
            {
              "content": "=Here is the list of all avatars: {{ $json['Avatar Names'][0] }} total number of avatars to use in concept is {{ $json['Total Avatars'] }}\n\nhighllevel concept: {{ $json.Concept }}"
            }
          ]
        },
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash",
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "options": {}
      },
      "position": [
        640,
        192
      ],
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1
    },
    {
      "id": "0f82542a-e5da-457d-ba53-3a7db0398763",
      "name": "Get All Avatar names and total",
      "parameters": {
        "jsCode": "// Get all incoming items\nconst inputData = items.map(item => item.json);\n\n// Extract names\nconst allNames = inputData.map(avatar => avatar[\"Avatar Name\"]);\n\n// Extract the \"Front\" or \"Fallback\" URLs\nconst referenceUrls = inputData.map(avatar => {\n  const images = avatar[\"Images\"] || [];\n  \n  // 1. Try to find the image that contains \"front\" (case-insensitive)\n  const frontImage = images.find(img => \n    img[\"Image Name\"].toLowerCase().includes('front')\n  );\n\n  // 2. If found, return its link. If not, take the first image link available.\n  if (frontImage) {\n    return frontImage[\"Download Link\"];\n  } else if (images.length > 0) {\n    return images[0][\"Download Link\"]; // Random/First fallback\n  }\n  \n  return null; // No images found at all\n});\n\n// NEW: Extract all URLs for each avatar as a list of lists\nconst elementUrls = inputData.map(avatar => {\n  const images = avatar[\"Images\"] || [];\n  // Return an array of just the \"Download Link\" strings for this specific avatar\n  return images.map(img => img[\"Download Link\"]);\n});\n\n// Return a single object with the consolidated lists\nreturn [{\n  \"Avatar Names\": allNames,\n  \"Total Avatars\": allNames.length,\n  \"Reference URLs\": referenceUrls,\n  \"Element URLs\": elementUrls // The list of lists containing all links\n}];"
      },
      "position": [
        160,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "e319fbd9-bef3-4727-ac9c-d70dcdb29be0",
      "name": "Parse Gemini Output",
      "parameters": {
        "jsCode": "// Get the items from the previous node\nconst input = items[0].json;\n\n// 1. Navigate to the deeply nested 'text' property\nconst rawString = input.content.parts[0].text;\n\n// 2. Parse the string into a real JSON object\nconst parsedData = JSON.parse(rawString);\n\n// 3. Return the parsed object as the new output\nreturn [\n  {\n    json: parsedData\n  }\n];"
      },
      "position": [
        992,
        288
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "4HPFYHEHxx2JZFUX",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "8b543351-0882-4dad-909a-cdb7c27da3c1",
      "name": "Generate an image1",
      "parameters": {
        "modelId": {
          "__rl": true,
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)",
          "mode": "list",
          "value": "models/gemini-2.5-flash-image"
        },
        "options": {},
        "prompt": "=Create 9:16 Image in 1K resolution\nKeeping the faces and characters same as in the images {{ $json['Reference URLs'] }}\nname of characters are {{ $json['Avatar Names'] }}\nwhich are refer in below shot details\nShot Details: {{ $json.MasterShot }}\n\nClothing Details: {{ $json.ClothingDetails }}\nLocation Details: {{ $json.LocationDetails }}\n",
        "resource": "image"
      },
      "position": [
        1072,
        32
      ],
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1
    },
    {
      "id": "16a0db76-7f07-4d90-a2c3-2c429cf47b30",
      "name": "Merge for Avatar names and shots",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        1168,
        464
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "credentials": {
        "falAiApi": {
          "id": "Itle3koBNa9fJuAk",
          "name": "fal.ai account"
        }
      },
      "id": "ea049104-1c0b-4844-8e46-5af6deb3c58b",
      "name": "Generate Master Image",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "Nano Banana [image-to-image]",
          "mode": "list",
          "value": "fal-ai/nano-banana/edit"
        },
        "modelParameters": {
          "parameters": [
            {
              "parameter": "prompt",
              "value": "=Create 9:16 Image in 1K resolution Keeping the faces and characters same as in the image(s). name of characters are {{ $json['Avatar Names'] }} which are refer in below shot details Shot Details: {{ $json.MasterShot }}  Clothing Details: {{ $json.ClothingDetails }} Location Details: {{ $json.LocationDetails }}"
            },
            {
              "parameter": "num_images",
              "value": "1"
            },
            {
              "parameter": "aspect_ratio",
              "value": "9:16"
            },
            {
              "parameter": "image_urls",
              "value": "={{ $json['Reference URLs'] }}"
            }
          ]
        },
        "options": {
          "maxWaitTime": 600,
          "pollInterval": 5,
          "waitForCompletion": true
        }
      },
      "position": [
        -2064,
        1280
      ],
      "type": "@fal-ai/n8n-nodes-fal.falAi",
      "typeVersion": 1
    },
    {
      "id": "04a5e206-17de-4665-88c4-3aa03ab12778",
      "name": "Merfe for concept and Avatar Data",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        352,
        128
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "id": "09c96c12-8c9a-4df0-ab7e-6750b0281516",
      "name": "Search for automation Directory",
      "parameters": {
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $('Get Client Folder name').first().json.id }}"
          }
        },
        "options": {},
        "queryString": "=short_video_automation",
        "resource": "fileFolder",
        "returnAll": true
      },
      "position": [
        -1872,
        720
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "c0d1578c-5617-4884-abcb-9416b0ec5468",
      "name": "check if directory exists",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "90a23ba2-af30-431c-ba06-db22f173040f",
              "leftValue": "={{ $json.id }}",
              "operator": {
                "operation": "exists",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "position": [
        -1664,
        720
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "id": "1b7873f3-71ab-4605-b47b-1914a468ebcb",
      "name": "Create automation directory in client folder",
      "notes": "Creates: Reel_{number} folder",
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Get Client Folder name').first().json.id }}"
        },
        "name": "=short_video_automation",
        "options": {},
        "resource": "folder"
      },
      "position": [
        -1504,
        880
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "8a7e1911-f005-41c4-88a8-ead378e9d3ce",
      "name": "Get automation directory ID",
      "parameters": {
        "jsCode": "let parentId;\n\n// Try getting searched folder\nconst searchNode = $node[\"Search for automation Directory\"].json;\n\nif (searchNode && searchNode.id) {\n  parentId = searchNode.id;\n} else {\n  const createdNode = $node[\"Create automation directory in client folder\"].json;\n\n  if (!createdNode || !createdNode.id) {\n    throw new Error(\"Parent folder not found and not created.\");\n  }\n\n  parentId = createdNode.id;\n}\n\nreturn [{\n  json: {\n    parentFolderId: parentId\n  }\n}];"
      },
      "position": [
        -1328,
        704
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "152e8bbf-b846-4983-a5c9-833c0322f499",
      "name": "Get Reel FolderID",
      "parameters": {
        "jsCode": "let parentId;\n\n// Try getting searched folder\nconst searchNode = $node[\"Search parent Reel\"].json;\n\nif (searchNode && searchNode.id) {\n  parentId = searchNode.id;\n} else {\n  const createdNode = $node[\"Create Reelfolder\"].json;\n\n  if (!createdNode || !createdNode.id) {\n    throw new Error(\"Parent folder not found and not created.\");\n  }\n\n  parentId = createdNode.id;\n}\n\nreturn [{\n  json: {\n    parentFolderId: parentId\n  }\n}];"
      },
      "position": [
        -672,
        848
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "id": "f06cf034-d13a-428b-8dce-b7441073bd5e",
      "name": "Create file from text",
      "parameters": {
        "content": "={{ $('Merge for Avatar names and shots').item.json.toJsonString() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.parentFolderId }}"
        },
        "name": "={{ $('Search parent Reel').item.json.name }}_Shots_script",
        "operation": "createFromText",
        "options": {}
      },
      "position": [
        -464,
        704
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "h3JY0RD1UyXn0wXp",
          "name": "Google Drive account Arya"
        }
      },
      "id": "90bcbfa5-a813-4a4b-8342-0440bdec78c5",
      "name": "checking for review image folder exist",
      "notes": "Searches for Reel_{number} folder. If found, skip creation.",
      "parameters": {
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $('Get Reel FolderID').item.json.parentFolderId }}"
          }
        },
        "options": {},
        "queryString": "Review_images",
        "resource": "fileFolder"
      },
      "position": [
        -512,
        1072
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "b63201a4-332f-448f-8e96-c8e0a9936107",
      "name": "review image folder found?",
      "notes": "TRUE = folder exists, use it. FALSE = create it.",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.id }}",
              "operator": {
                "operation": "notEmpty",
                "type": "string"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "position": [
        -368,
        928
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "id": "2ce0ce8d-eb39-4c48-a401-9ae2927e3bee",
      "name": "Create Review FolderID",
      "parameters": {
        "jsCode": "let ReelId;\n\n// Get search results safely\nconst searchItems = $node[\"checking for review image folder exist\"].json;\n\nif (searchItems && searchItems.id) {\n  ReelId = searchItems.id;\n} else {\n  const createdItems = $node[\"Create Review_images Folder\"].json;\n  \n  if (!createdItems || !createdItems.id) {\n    throw new Error(\"Reelfolder not found and not created.\");\n  }\n\n  ReelId = createdItems.id;\n}\n\nreturn [{\n  json: {\n    ReelReviewId: ReelId\n  }\n}];\n"
      },
      "position": [
        304,
        912
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "fdf053cd-42e6-417d-b102-888eb8b970a5",
      "name": "Merge for image and drive folder",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        576,
        1312
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "64bdc268-bc9e-46c3-9469-f8aaa52e5a0a",
      "name": "Download Master Image",
      "parameters": {
        "options": {},
        "url": "={{ $json.images[0].url }}"
      },
      "position": [
        -1744,
        1280
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "a9451d4e-a6f9-48da-bd80-957fe8aeb8a2",
      "name": "Create Master Shot folder with subworkflow",
      "parameters": {
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        },
        "workflowId": {
          "__rl": true,
          "cachedResultName": "Check and Create Drive folder subworkflow",
          "cachedResultUrl": "/workflow/LV6KV28deGpPkOEm",
          "mode": "list",
          "value": "LV6KV28deGpPkOEm"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "parentFolderID",
              "id": "parentFolderID",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "folderToCreateOrSearch",
              "id": "folderToCreateOrSearch",
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "folderToCreateOrSearch": "Master_shot_reference",
            "parentFolderID": "={{ $('Get Reel FolderID').item.json.parentFolderId }}"
          }
        }
      },
      "position": [
        544,
        896
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "4eb8806b-f19d-489b-9caa-b01b286ec3f7",
      "name": "Split for story shots",
      "parameters": {
        "fieldToSplitOut": "StoryShots",
        "include": "allOtherFields",
        "options": {}
      },
      "position": [
        1488,
        1152
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "id": "a58840e8-ab61-458f-a9a7-aded4d2a8dcb",
      "name": "HTTP Request2",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key REDACTED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $json.shots.image_generation_prompt }}\",\n  \"image_urls\": [\n    \"{{ $('Upload file').item.json.webContentLink }}\"\n  ],\n  \"elements\": [{}],\n  \"resolution\": \"1K\",\n  \"result_type\": \"single\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"auto\",\n  \"output_format\": \"png\"\n}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/kling-image/o3/image-to-image"
      },
      "position": [
        2624,
        1712
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "credentials": {
        "falAiApi": {
          "id": "Itle3koBNa9fJuAk",
          "name": "fal.ai account"
        }
      },
      "id": "2a5b4242-e4aa-4e65-9a60-87f91f36412e",
      "name": "__CUSTOM_API_CALL__ model",
      "parameters": {
        "operation": "__CUSTOM_API_CALL__"
      },
      "position": [
        1920,
        752
      ],
      "type": "@fal-ai/n8n-nodes-fal.falAi",
      "typeVersion": 1
    },
    {
      "id": "c67df780-357b-448d-bb7c-73af6f6fe466",
      "name": "Get Gemini output again",
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$node[\"Parse Gemini Output\"].json\n  }\n}];"
      },
      "position": [
        1216,
        1152
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "d5f99688-8bfd-4fea-9161-45d358561217",
      "name": "Code in JavaScript1",
      "parameters": {
        "jsCode": "// Get avatar data\nconst data = $items(\"Merfe for concept and Avatar Data\", 0, 0)[0].json;\n\nconst avatarNames = data[\"Avatar Names\"];\nconst urls = data[\"Reference URLs\"];\n\n// Build mapping\nconst mapping = {};\nconst image_urls = [];\n\navatarNames.forEach((name, index) => {\n  mapping[name] = `<image:${index}>`;\n  image_urls.push(urls[index]);\n});\n\n// Current shot\nlet shotPrompt = $json.StoryShots;\nlet klingPrompt = shotPrompt;\n\n// Replace placeholders\navatarNames.forEach((name, index) => {\n\n  const placeholder1 = `<<${name}>>`;\n  const placeholder2 = `<<${name.replace(/[0-9]/g,\"\")}>>`; // handles <<Avatar_Female>>\n\n  klingPrompt = klingPrompt.replaceAll(placeholder1, `<image:${index}>`);\n  klingPrompt = klingPrompt.replaceAll(placeholder2, `<image:${index}>`);\n\n});\n\nreturn {\n  json: {\n    ...$json,\n    kling_prompt: klingPrompt,\n    image_urls,\n    mapping\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "position": [
        1760,
        1152
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "pinData": {
    "Analyze an image1": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "```json\n{\n  \"reference_image_prompt\": \"A photorealistic portrait of a stunningly beautiful woman in her late 20s with long, wavy dark brown hair, a warm olive skin tone, and captivating hazel-green eyes. She has a confident yet gentle smile. She is wearing a structured black satin corset top and black trousers. The background is a futuristic, cyberpunk-inspired studio set, bathed in vibrant neon lights of magenta, cyan, and deep purple, with out-of-focus cityscapes and video screens.\",\n  \"lyrical_subtext\": \"The song describes a profound, life-altering love. The speaker's perception of life has been completely transformed by this person, moving from a state of unawareness to one of intense, vibrant feeling and deep devotion. It's about finding a new reason for being.\",\n  \"emotional_progression\": \"The reel will evolve from soft, introspective wonder to a wistful longing, then erupt into vibrant joy, and finally deepen into intense, passionate, and intimate devotion.\",\n  \"color_palette\": \"The journey moves from the soft, warm tones of dawn (Morning Gold, Soft Cream) to the cool, contemplative hues of twilight (Twilight Blue, Muted Purple), then to energetic city neons (Electric Pink, Sunset Orange), and concludes with a dramatic, high-contrast noir palette (Deep Crimson, Inky Shadows).\",\n  \"environment_continuity\": \"The character is the anchor in a shifting world that reflects her internal emotional state. We transition from a serene, sunlit private space to a vast, open cityscape, then into the vibrant chaos of a city street, and finally into an intimate, moody interior, visually narrating her emotional journey.\",\n  \"shots\": [\n    {\n      \"shot_number\": 1,\n      \"lyric_reference\": \"I have never seen anyone as beautiful as you\",\n      \"vibe_match\": \"Awe and quiet discovery. The dawning realization of beauty in a soft, dreamlike state.\",\n      \"image_generation_prompt\": \"A photorealistic vertical 9:16 portrait of the exact same woman from the reference image, identical facial bone structure, same long wavy dark hair, wearing the exact same cream silk blouse. She is in a minimalist, sun-drenched apartment, with soft morning light streaming through a large window, creating a gentle halo effect around her. She has a soft, contemplative smile, looking slightly off-camera as if lost in a beautiful thought. Cinematic lighting, 8k photorealistic, Arri Alexa look, ultra-shallow depth of field, natural skin texture, vertical 9:16 composition.\",\n      \"camera_motion\": \"Slow Push-In\",\n      \"duration_seconds\": 3\n    },\n    {\n      \"shot_number\": 2,\n      \"lyric_reference\": \"I don't know where you went before\",\n      \"vibe_match\": \"Wistful longing and contemplation. Reflecting on a past without them, set against a vast, lonely backdrop.\",\n      \"image_generation_prompt\": \"A photorealistic vertical 9:16 portrait of the exact same woman from the reference image, identical facial bone structure, same long wavy dark hair, wearing the exact same cream silk blouse. She is standing on a high-rise balcony at twilight, leaning on the railing and looking out over a sprawling city with a beautiful bokeh of distant lights. Her expression is thoughtful and slightly melancholic. The cool blue light of dusk mixes with the warm orange glow from the city below. Cinematic lighting, 8k photorealistic, Arri Alexa look, ultra-shallow depth of field, natural skin texture, vertical 9:16 composition.\",\n      \"camera_motion\": \"Slow Orbit Left\",\n      \"duration_seconds\": 3\n    },\n    {\n      \"shot_number\": 3,\n      \"lyric_reference\": \"I have started living more than before\",\n      \"vibe_match\": \"Vibrant, uninhibited joy. The world has come alive with color and energy because of this newfound love.\",\n      \"image_generation_prompt\": \"A photorealistic vertical 9:16 portrait of the exact same woman from the reference image, identical facial bone structure, same long wavy dark hair, wearing the exact same cream silk blouse. She is captured mid-laugh, looking directly at the camera, on a bustling city street at night, surrounded by a kaleidoscope of bright neon signs and light trails. Her joy is infectious and genuine. The mood is energetic and celebratory. Cinematic lighting, 8k photorealistic, Arri Alexa look, ultra-shallow depth of field, natural skin texture, vertical 9:16 composition.\",\n      \"camera_motion\": \"Steady Pull-Back\",\n      \"duration_seconds\": 3\n    },\n    {\n      \"shot_number\": 4,\n      \"lyric_reference\": \"I have started dying for you more than before\",\n      \"vibe_match\": \"Deep, intense intimacy. The phrase 'dying for you' is interpreted as profound, soul-deep connection and vulnerability.\",\n      \"image_generation_prompt\": \"A photorealistic vertical 9:16 portrait of the exact same woman from the reference image, identical facial bone structure, same long wavy dark hair, wearing the exact same cream silk blouse. A moody close-up of her face, illuminated by the warm light of a single lamp. Behind her, rain streaks down a large window, with the cool, blurred lights of the city providing a contrasting backlight. Her expression is one of intense, vulnerable adoration, looking directly into the camera lens. Cinematic lighting, 8k photorealistic, Arri Alexa look, ultra-shallow depth of field, natural skin texture, vertical 9:16 composition.\",\n      \"camera_motion\": \"Slow Tilt-Up\",\n      \"duration_seconds\": 3\n    },\n    {\n      \"shot_number\": 5,\n      \"lyric_reference\": \"(Instrumental beat / final echo of the line)\",\n      \"vibe_match\": \"Total emotional surrender. A final, dramatic portrait of complete and utter devotion, stripped of all distractions.\",\n      \"image_generation_prompt\": \"A photorealistic vertical 9:16 portrait of the exact same woman from the reference image, identical facial bone structure, same long wavy dark hair, wearing the exact same cream silk blouse. She is in a dark, abstract void, lit by a single, dramatic overhead spotlight that carves her out of the darkness, creating high-contrast shadows. Her eyes are closed and her head is tilted back slightly, a serene yet passionate expression of complete emotional surrender on her face. Cinematic lighting, 8k photorealistic, Arri Alexa look, ultra-shallow depth of field, natural skin texture, vertical 9:16 composition.\",\n      \"camera_motion\": \"Dramatic Slow Push-In to Extreme Close-Up\",\n      \"duration_seconds\": 3\n    }\n  ]\n}\n```"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        }
      }
    ],
    "Download Master Image": [
      {
        "binary": {
          "data": {
            "bytes": 1322574,
            "data": "filesystem-v2",
            "directory": "https://v3b.fal.media/files/b/0a911444/phDoGcAp_VBVVBLBWfawL_a8KjpQDh.png",
            "fileExtension": "png",
            "fileName": "phDoGcAp_VBVVBLBWfawL_a8KjpQDh.png",
            "fileSize": "1.32 MB",
            "fileType": "image",
            "id": "filesystem-v2:workflows/g8TFpbonrB1SXgyL/executions/2147/binary_data/1f0b0665-c1ec-4511-82ee-5cc11255e47d",
            "mimeType": "image/png"
          }
        },
        "json": {
          "description": "",
          "images": [
            {
              "content_type": "image/png",
              "file_name": "phDoGcAp_VBVVBLBWfawL_a8KjpQDh.png",
              "file_size": null,
              "height": null,
              "url": "https://v3b.fal.media/files/b/0a911444/phDoGcAp_VBVVBLBWfawL_a8KjpQDh.png",
              "width": null
            }
          ],
          "model": "fal-ai/nano-banana/edit",
          "request_id": "85bec9af-1e44-4410-9e7d-40c9c124acc4"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Generate Master Image": [
      {
        "json": {
          "description": "",
          "images": [
            {
              "content_type": "image/png",
              "file_name": "phDoGcAp_VBVVBLBWfawL_a8KjpQDh.png",
              "file_size": null,
              "height": null,
              "url": "https://v3b.fal.media/files/b/0a911444/phDoGcAp_VBVVBLBWfawL_a8KjpQDh.png",
              "width": null
            }
          ],
          "model": "fal-ai/nano-banana/edit",
          "request_id": "85bec9af-1e44-4410-9e7d-40c9c124acc4"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get Client Folder name": [
      {
        "json": {
          "id": "1SrUblRJXAS-K6kMU6wDBMfqlLmq41Wua",
          "name": "Jass Records"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "HTTP Request1": [
      {
        "json": {
          "cancel_url": "https://queue.fal.run/fal-ai/kling-image/requests/f907c33e-df1e-4a39-b3f1-4b7ec9c38792/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0,
          "request_id": "f907c33e-df1e-4a39-b3f1-4b7ec9c38792",
          "response_url": "https://queue.fal.run/fal-ai/kling-image/requests/f907c33e-df1e-4a39-b3f1-4b7ec9c38792",
          "status": "IN_QUEUE",
          "status_url": "https://queue.fal.run/fal-ai/kling-image/requests/f907c33e-df1e-4a39-b3f1-4b7ec9c38792/status"
        }
      },
      {
        "json": {
          "cancel_url": "https://queue.fal.run/fal-ai/kling-image/requests/9eae30db-7187-4317-8f2f-359f67640a8e/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0,
          "request_id": "9eae30db-7187-4317-8f2f-359f67640a8e",
          "response_url": "https://queue.fal.run/fal-ai/kling-image/requests/9eae30db-7187-4317-8f2f-359f67640a8e",
          "status": "IN_QUEUE",
          "status_url": "https://queue.fal.run/fal-ai/kling-image/requests/9eae30db-7187-4317-8f2f-359f67640a8e/status"
        }
      },
      {
        "json": {
          "cancel_url": "https://queue.fal.run/fal-ai/kling-image/requests/940a58fe-df08-41a1-bff8-f5a463d15af1/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0,
          "request_id": "940a58fe-df08-41a1-bff8-f5a463d15af1",
          "response_url": "https://queue.fal.run/fal-ai/kling-image/requests/940a58fe-df08-41a1-bff8-f5a463d15af1",
          "status": "IN_QUEUE",
          "status_url": "https://queue.fal.run/fal-ai/kling-image/requests/940a58fe-df08-41a1-bff8-f5a463d15af1/status"
        }
      },
      {
        "json": {
          "cancel_url": "https://queue.fal.run/fal-ai/kling-image/requests/51badad8-e9e2-40b2-a677-3c58bddb41f0/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0,
          "request_id": "51badad8-e9e2-40b2-a677-3c58bddb41f0",
          "response_url": "https://queue.fal.run/fal-ai/kling-image/requests/51badad8-e9e2-40b2-a677-3c58bddb41f0",
          "status": "IN_QUEUE",
          "status_url": "https://queue.fal.run/fal-ai/kling-image/requests/51badad8-e9e2-40b2-a677-3c58bddb41f0/status"
        }
      },
      {
        "json": {
          "cancel_url": "https://queue.fal.run/fal-ai/kling-image/requests/74e089c8-83d8-408b-b017-9df15d312a71/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 4,
          "request_id": "74e089c8-83d8-408b-b017-9df15d312a71",
          "response_url": "https://queue.fal.run/fal-ai/kling-image/requests/74e089c8-83d8-408b-b017-9df15d312a71",
          "status": "IN_QUEUE",
          "status_url": "https://queue.fal.run/fal-ai/kling-image/requests/74e089c8-83d8-408b-b017-9df15d312a71/status"
        }
      }
    ],
    "HTTP Request2": [
      {
        "json": {
          "cancel_url": "https://queue.fal.run/fal-ai/kling-image/requests/f907c33e-df1e-4a39-b3f1-4b7ec9c38792/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0,
          "request_id": "f907c33e-df1e-4a39-b3f1-4b7ec9c38792",
          "response_url": "https://queue.fal.run/fal-ai/kling-image/requests/f907c33e-df1e-4a39-b3f1-4b7ec9c38792",
          "status": "IN_QUEUE",
          "status_url": "https://queue.fal.run/fal-ai/kling-image/requests/f907c33e-df1e-4a39-b3f1-4b7ec9c38792/status"
        }
      },
      {
        "json": {
          "cancel_url": "https://queue.fal.run/fal-ai/kling-image/requests/9eae30db-7187-4317-8f2f-359f67640a8e/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0,
          "request_id": "9eae30db-7187-4317-8f2f-359f67640a8e",
          "response_url": "https://queue.fal.run/fal-ai/kling-image/requests/9eae30db-7187-4317-8f2f-359f67640a8e",
          "status": "IN_QUEUE",
          "status_url": "https://queue.fal.run/fal-ai/kling-image/requests/9eae30db-7187-4317-8f2f-359f67640a8e/status"
        }
      },
      {
        "json": {
          "cancel_url": "https://queue.fal.run/fal-ai/kling-image/requests/940a58fe-df08-41a1-bff8-f5a463d15af1/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0,
          "request_id": "940a58fe-df08-41a1-bff8-f5a463d15af1",
          "response_url": "https://queue.fal.run/fal-ai/kling-image/requests/940a58fe-df08-41a1-bff8-f5a463d15af1",
          "status": "IN_QUEUE",
          "status_url": "https://queue.fal.run/fal-ai/kling-image/requests/940a58fe-df08-41a1-bff8-f5a463d15af1/status"
        }
      },
      {
        "json": {
          "cancel_url": "https://queue.fal.run/fal-ai/kling-image/requests/51badad8-e9e2-40b2-a677-3c58bddb41f0/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 0,
          "request_id": "51badad8-e9e2-40b2-a677-3c58bddb41f0",
          "response_url": "https://queue.fal.run/fal-ai/kling-image/requests/51badad8-e9e2-40b2-a677-3c58bddb41f0",
          "status": "IN_QUEUE",
          "status_url": "https://queue.fal.run/fal-ai/kling-image/requests/51badad8-e9e2-40b2-a677-3c58bddb41f0/status"
        }
      },
      {
        "json": {
          "cancel_url": "https://queue.fal.run/fal-ai/kling-image/requests/74e089c8-83d8-408b-b017-9df15d312a71/cancel",
          "logs": null,
          "metrics": {},
          "queue_position": 4,
          "request_id": "74e089c8-83d8-408b-b017-9df15d312a71",
          "response_url": "https://queue.fal.run/fal-ai/kling-image/requests/74e089c8-83d8-408b-b017-9df15d312a71",
          "status": "IN_QUEUE",
          "status_url": "https://queue.fal.run/fal-ai/kling-image/requests/74e089c8-83d8-408b-b017-9df15d312a71/status"
        }
      }
    ],
    "HTTP Request4": [
      {
        "json": {
          "images": [
            {
              "content_type": "image/png",
              "file_name": "00e829075c234747ab24e439d75abb4e.png",
              "file_size": 1276986,
              "height": null,
              "url": "https://v3b.fal.media/files/b/0a90b811/qK-qEQWZZMYxmcY7i4YuG_00e829075c234747ab24e439d75abb4e.png",
              "width": null
            }
          ]
        }
      },
      {
        "json": {
          "images": [
            {
              "content_type": "image/png",
              "file_name": "53c75c4420ab4066a24b5da7ec107663.png",
              "file_size": 1406772,
              "height": null,
              "url": "https://v3b.fal.media/files/b/0a90b811/iyCZidc5DXEpVEqS0wtzq_53c75c4420ab4066a24b5da7ec107663.png",
              "width": null
            }
          ]
        }
      },
      {
        "json": {
          "images": [
            {
              "content_type": "image/png",
              "file_name": "1d31ba15116041a59648ece3757b2090.png",
              "file_size": 1226477,
              "height": null,
              "url": "https://v3b.fal.media/files/b/0a90b811/OYW3ZRQmLL7wlFOlQ7J6u_1d31ba15116041a59648ece3757b2090.png",
              "width": null
            }
          ]
        }
      },
      {
        "json": {
          "images": [
            {
              "content_type": "image/png",
              "file_name": "31880fdd7edb4516a961c6696d63f075.png",
              "file_size": 1369675,
              "height": null,
              "url": "https://v3b.fal.media/files/b/0a90b811/kTF_lDN2RF0KRI0HuOiJk_31880fdd7edb4516a961c6696d63f075.png",
              "width": null
            }
          ]
        }
      }
    ],
    "Message a model1": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "{\n\"MasterShot\":\"A wide, establishing shot of a luxurious rooftop restaurant at dusk. The vibrant Chandigarh skyline, illuminated by city lights, sprawls in the background. In the foreground, <<Avatar2_Male>> and <<Avatar_Female>> are seated at an elegantly set table, a soft glow from candles illuminating their faces, setting a romantic ambiance.\",\n\"ClothingDetails\":\"<<Avatar2_Male>> wears a sharp, charcoal grey blazer over a crisp white button-down shirt, with dark trousers. <<Avatar_Female>> is in an elegant, flowing midnight blue evening gown, subtly embellished, with delicate silver jewelry.\",\n\"LocationDetails\":\"A high-end rooftop restaurant featuring modern minimalist decor, ambient string lights, and intimate table settings. The defining feature is the unobstructed, panoramic view of the bustling Chandigarh cityscape, glowing softly at twilight, with subtle background music creating a relaxed atmosphere.\",\n\"StoryShots\":[\n\"Medium shot from a slightly elevated angle. <<Avatar2_Male>> gracefully pulls out a chair for <<Avatar_Female>> at their rooftop table. <<Avatar_Female>> smiles warmly as she begins to sit down. Soft background blur of the city lights.\",\n\"Over-the-shoulder shot looking past <<Avatar2_Male>> towards <<Avatar_Female>>. <<Avatar_Female>> is smiling and engaged in conversation, a wine glass held delicately in her hand. <<Avatar2_Male>>'s back is partially visible, indicating active listening. The cityscape twinkles softly behind <<Avatar_Female>>.\",\n\"Close-up shot of two elegant hands clinking champagne flutes gently over the table. The focus is on the glasses, with the blurred outlines of <<Avatar2_Male>> and <<Avatar_Female>>'s faces and the restaurant's ambient lighting in the soft background.\",\n\"Medium wide shot capturing <<Avatar2_Male>> and <<Avatar_Female>> both looking out towards the breathtaking Chandigarh skyline, their shoulders almost touching. <<Avatar2_Male>> subtly reaches for <<Avatar_Female>>'s hand on the table. The city lights are prominent and beautiful in this shot, highlighting the romantic view.\",\n\"Tight close-up shot of <<Avatar2_Male>> and <<Avatar_Female>>'s faces as they share a warm, intimate smile, their eyes meeting. The soft ambient lighting of the restaurant casts a gentle glow on them, emphasizing their connection.\"\n]\n}"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Translate a recording": [
      {
        "json": {
          "text": "I have never seen anyone as beautiful as you I don't know where you went before I have started living more than before I have started dying for you more than before"
        }
      }
    ],
    "Upload file": [
      {
        "json": {
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyLabels": false,
            "canModifyOwnerContentRestriction": true,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "copyRequiresWriterPermission": false,
          "createdTime": "2026-03-06T14:47:59.685Z",
          "downloadRestrictions": {
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "explicitlyTrashed": false,
          "fileExtension": "",
          "fullFileExtension": "",
          "hasThumbnail": true,
          "headRevisionId": "0B2vTDi5a6bqLeEFZVExLVXkxZzBUeEtRUk5QR3RJTklaRnRFPQ",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/image/png",
          "id": "1tEdbRqmOWA-cmT348yy3cplRVoiC523X",
          "imageMediaMetadata": {
            "height": 1344,
            "rotation": 0,
            "width": 768
          },
          "inheritedPermissionsDisabled": false,
          "isAppAuthorized": true,
          "kind": "drive#file",
          "lastModifyingUser": {
            "displayName": "Vekhii Jaa",
            "emailAddress": "vekhiijaa@gmail.com",
            "kind": "drive#user",
            "me": true,
            "permissionId": "11535262035090087718",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64"
          },
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "md5Checksum": "d49fb0915872ad8abc323235c5a7fd56",
          "mimeType": "image/png",
          "modifiedByMe": true,
          "modifiedByMeTime": "2026-03-06T14:48:00.910Z",
          "modifiedTime": "2026-03-06T14:48:00.910Z",
          "name": "Master_Reference_image",
          "originalFilename": "Master_Reference_image",
          "ownedByMe": true,
          "owners": [
            {
              "displayName": "Vekhii Jaa",
              "emailAddress": "vekhiijaa@gmail.com",
              "kind": "drive#user",
              "me": true,
              "permissionId": "11535262035090087718",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIeAB0vsIuYjGH41A2G3tbcaUOicVA9QYBIjf6WnHGDSMUUwf8=s64"
            }
          ],
          "parents": [
            "1E0RvNrosg63NAwWM5p8lzn85Q-iZRsqb"
          ],
          "permissionIds": [
            "anyoneWithLink",
            "03152748759455991487",
            "06664136964052654300",
            "11535262035090087718"
          ],
          "permissions": [
            {
              "allowFileDiscovery": false,
              "id": "anyoneWithLink",
              "kind": "drive#permission",
              "role": "reader",
              "type": "anyone"
            },
            {
              "deleted": false,
              "displayName": "madansabloknew",
              "emailAddress": "madansabloknew@gmail.com",
              "id": "03152748759455991487",
              "kind": "drive#permission",
              "pendingOwner": false,
              "role": "writer",
              "type": "user"
            },
            {
              "deleted": false,
              "displayName": "gursimar.vekhiijaa",
              "emailAddress": "gursimar.vekhiijaa@gmail.com",
              "id": "06664136964052654300",
              "kind": "drive#permission",
              "pendingOwner": false,
              "role": "writer",
              "type": "user"
            },
            {
              "deleted": false,
              "displayName": "vekhiijaa",
              "emailAddress": "vekhiijaa@gmail.com",
              "id": "11535262035090087718",
              "kind": "drive#permission",
              "pendingOwner": false,
              "role": "owner",
              "type": "user"
            }
          ],
          "quotaBytesUsed": "1322574",
          "sha1Checksum": "a7fb2abcfd7f8021c27cbc3d29a54f569ad100a4",
          "sha256Checksum": "d4681b293a768c3d694554471370651996a09fddb417964254e96c9f68e491d1",
          "shared": true,
          "size": "1322574",
          "spaces": [
            "drive"
          ],
          "starred": false,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBOsAxvHnBOGJLKZqRko1CHLPsvqfWfcJUw2h1BZe-2YWDcDhhdnHrLzN3zGSoNbGB9EiZSqwep1XHstoovZ9uf4zzedjVDixWf8Es8jypN0flfE4A=s220",
          "thumbnailVersion": "1",
          "trashed": false,
          "version": "2",
          "viewedByMe": false,
          "viewersCanCopyContent": true,
          "webContentLink": "https://drive.google.com/uc?id=1tEdbRqmOWA-cmT348yy3cplRVoiC523X&export=download",
          "webViewLink": "https://drive.google.com/file/d/1tEdbRqmOWA-cmT348yy3cplRVoiC523X/view?usp=drivesdk",
          "writersCanShare": true
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "availableInMCP": false,
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-03-06T14:49:34.883Z",
      "projectId": "xgOOcboctxelndaF",
      "role": "workflow:owner",
      "updatedAt": "2026-03-06T14:49:34.883Z",
      "workflowId": "fQeV6nsZefVD3Qoe"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-07T12:17:49.000Z",
  "versionId": "a798d315-f31e-4e1b-9874-02a9194f1f9d"
}