workflows/jP7umBMqZKsrJPCoPHASE 2:kling Video Generation - main workflow.json
{
  "active": true,
  "activeVersion": {
    "authors": "Sukhneer Singh",
    "autosaved": true,
    "connections": {
      "Call Phase 2: Subworkflow": {
        "main": [
          [
            {
              "index": 0,
              "node": "Loop Over Items",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "Catch Reel Error1",
              "type": "main"
            }
          ]
        ]
      },
      "Catch Reel Error1": {
        "main": [
          [
            {
              "index": 0,
              "node": "Update Status = error1",
              "type": "main"
            }
          ]
        ]
      },
      "Download Image from Drive": {
        "main": [
          [],
          []
        ]
      },
      "Get Rows": {
        "main": [
          [
            {
              "index": 0,
              "node": "update in progess status",
              "type": "main"
            },
            {
              "index": 0,
              "node": "Wait till status is updated",
              "type": "main"
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "index": 0,
              "node": "Call Phase 2: Subworkflow",
              "type": "main"
            }
          ]
        ]
      },
      "Submit video generation": {
        "main": [
          [
            {
              "index": 0,
              "node": "Get Rows",
              "type": "main"
            }
          ]
        ]
      },
      "Update Status = error1": {
        "main": [
          [
            {
              "index": 0,
              "node": "Loop Over Items",
              "type": "main"
            }
          ]
        ]
      },
      "Wait till status is updated": {
        "main": [
          [
            {
              "index": 0,
              "node": "Loop Over Items",
              "type": "main"
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "index": 0,
              "node": "Get Rows",
              "type": "main"
            }
          ]
        ]
      },
      "update in progess status": {
        "main": [
          [
            {
              "index": 1,
              "node": "Wait till status is updated",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2026-03-17T17:20:31.646Z",
    "description": "",
    "name": "Version 1d72bbbd",
    "nodes": [
      {
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "V3dLSPaQzHr78Y7i",
            "name": "Google Drive account"
          }
        },
        "id": "5daa26e8-7078-4341-b937-743190c8fbc0",
        "name": "Download Image from Drive",
        "onError": "continueErrorOutput",
        "parameters": {
          "fileId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.id }}"
          },
          "operation": "download",
          "options": {}
        },
        "position": [
          2832,
          -112
        ],
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3
      },
      {
        "id": "a178aad1-17a2-467d-b4ff-9b9e8d88adc5",
        "name": "When clicking ‘Execute workflow’",
        "parameters": {},
        "position": [
          -672,
          0
        ],
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1
      },
      {
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "fhIAilo8SGlashT9",
            "name": "Google Sheets account 3"
          }
        },
        "id": "8411d13b-c108-4237-87d4-de66bb7b5ea0",
        "name": "Get Rows",
        "parameters": {
          "documentId": {
            "__rl": true,
            "cachedResultName": "Short Video Generation DB- Jass Records",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit?usp=drivesdk",
            "mode": "list",
            "value": "10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Status of Automation",
                "lookupValue": "Approved_for_video_generation"
              },
              {
                "lookupColumn": "Reel Type",
                "lookupValue": "Story"
              }
            ]
          },
          "options": {},
          "sheetName": {
            "__rl": true,
            "cachedResultName": "Main DB",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit#gid=0",
            "mode": "list",
            "value": "gid=0"
          }
        },
        "position": [
          -384,
          0
        ],
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7
      },
      {
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "fhIAilo8SGlashT9",
            "name": "Google Sheets account 3"
          }
        },
        "id": "5df3b378-c688-4dff-8600-3258502ba34c",
        "name": "Update Status = error1",
        "notes": "Marks failed reel as error then loops back to next reel.",
        "parameters": {
          "columns": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": false,
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "Reel number"
            ],
            "schema": [
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Reel number",
                "id": "Reel number",
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Client(drive folder name)",
                "id": "Client(drive folder name)",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Account to post",
                "id": "Account to post",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Avatars to use(comma seperated)",
                "id": "Avatars to use(comma seperated)",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Avtar Drive links(optional & bypasses Avatar to use field)",
                "id": "Avtar Drive links(optional & bypasses Avatar to use field)",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Reel Type",
                "id": "Reel Type",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Concept input(optional)",
                "id": "Concept input(optional)",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Song link(direct download)",
                "id": "Song link(direct download)",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Start Time of Song",
                "id": "Start Time of Song",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Total Time of Reel(Secs)",
                "id": "Total Time of Reel(Secs)",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Status of Automation",
                "id": "Status of Automation",
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Drive link for image approvals",
                "id": "Drive link for image approvals",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Drive link for video approval",
                "id": "Drive link for video approval",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Final Video Drive Download Link",
                "id": "Final Video Drive Download Link",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Post Schedule Date",
                "id": "Post Schedule Date",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Post Schedule Time",
                "id": "Post Schedule Time",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Workflow execution link",
                "id": "Workflow execution link",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Error Details",
                "id": "Error Details",
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "row_number",
                "id": "row_number",
                "readOnly": true,
                "removed": true,
                "required": false,
                "type": "number"
              }
            ],
            "value": {
              "Error Details": "={{ $json.errorMessage }}",
              "Reel number": "={{ $json['Reel number'] }}",
              "Status of Automation": "error in video generation"
            }
          },
          "documentId": {
            "__rl": true,
            "cachedResultName": "Short Video Generation DB- Jass Records",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit?usp=drivesdk",
            "mode": "list",
            "value": "10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc"
          },
          "operation": "update",
          "options": {},
          "sheetName": {
            "__rl": true,
            "cachedResultName": "Main DB",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit#gid=0",
            "mode": "list",
            "value": "gid=0"
          }
        },
        "position": [
          1680,
          32
        ],
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7
      },
      {
        "id": "583fed08-53ab-4f1a-a3c4-910a99eed7c0",
        "name": "Catch Reel Error1",
        "notes": "Collects errors from any critical node and routes to sheet update.",
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "err-1",
                "name": "errorMessage",
                "type": "string",
                "value": "={{ $json.error }}"
              },
              {
                "id": "9980ad63-4f95-4c33-8074-56be924549b8",
                "name": "Reel number",
                "type": "number",
                "value": "={{ $json['Reel number'] }}"
              }
            ]
          },
          "options": {}
        },
        "position": [
          1488,
          32
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      },
      {
        "id": "03c49c45-8c96-4816-9d24-08fb5be80f8c",
        "name": "Call Phase 2: Subworkflow",
        "onError": "continueErrorOutput",
        "parameters": {
          "options": {},
          "workflowId": {
            "__rl": true,
            "cachedResultName": "Phase 2: Subworkflow",
            "cachedResultUrl": "/workflow/9mDONMwJehpvBckt",
            "mode": "list",
            "value": "9mDONMwJehpvBckt"
          },
          "workflowInputs": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": true,
            "mappingMode": "defineBelow",
            "matchingColumns": [
              ""
            ],
            "schema": [
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Loop_Over_Reels_",
                "id": "Loop_Over_Reels_",
                "removed": false,
                "required": false
              }
            ],
            "value": {
              "Loop_Over_Reels_": "={{ $('Loop Over Items').item.json }}"
            }
          }
        },
        "position": [
          1200,
          16
        ],
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2
      },
      {
        "id": "df1956e7-a76d-499c-910e-fce07d5426cf",
        "name": "Loop Over Items",
        "parameters": {
          "options": {}
        },
        "position": [
          944,
          0
        ],
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3
      },
      {
        "id": "8d7c0682-cc23-47e3-bf2b-7db6b7b6b458",
        "name": "Submit video generation",
        "parameters": {
          "formDescription": "[VIDEO GENERATION] With this you will be able to submit job for Story videos",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Client Name",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Jass Records"
                    }
                  ]
                },
                "fieldType": "dropdown"
              },
              {
                "fieldLabel": "Video Type",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Story"
                    }
                  ]
                },
                "fieldType": "dropdown"
              }
            ]
          },
          "formTitle": "Submit Video Generation Workflow (Story)",
          "options": {}
        },
        "position": [
          -640,
          272
        ],
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.5,
        "webhookId": "bd44f54f-a917-40e5-8310-465855dca281"
      },
      {
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "fhIAilo8SGlashT9",
            "name": "Google Sheets account 3"
          }
        },
        "id": "546a3067-e1ae-4fbb-a3f0-3d01c7cf2820",
        "name": "update in progess status",
        "parameters": {
          "columns": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": false,
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "Reel number"
            ],
            "schema": [
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Reel number",
                "id": "Reel number",
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Client(drive folder name)",
                "id": "Client(drive folder name)",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Account to post",
                "id": "Account to post",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Avatars to use(comma seperated)",
                "id": "Avatars to use(comma seperated)",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Avtar Drive links(optional & bypasses Avatar to use field)",
                "id": "Avtar Drive links(optional & bypasses Avatar to use field)",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Reel Type",
                "id": "Reel Type",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Concept input(optional)",
                "id": "Concept input(optional)",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Song link(direct download)",
                "id": "Song link(direct download)",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Start Time of Song",
                "id": "Start Time of Song",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Total Time of Reel(Secs)",
                "id": "Total Time of Reel(Secs)",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Status of Automation",
                "id": "Status of Automation",
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Drive link for image approvals",
                "id": "Drive link for image approvals",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Drive link for video approval",
                "id": "Drive link for video approval",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Final Video Drive Download Link",
                "id": "Final Video Drive Download Link",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Post Schedule Date",
                "id": "Post Schedule Date",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Post Schedule Time",
                "id": "Post Schedule Time",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Workflow execution link",
                "id": "Workflow execution link",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Error Details",
                "id": "Error Details",
                "removed": true,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "row_number",
                "id": "row_number",
                "readOnly": true,
                "removed": true,
                "required": false,
                "type": "number"
              }
            ],
            "value": {
              "Reel number": "={{ $json['Reel number'] }}",
              "Status of Automation": "In Progress"
            }
          },
          "documentId": {
            "__rl": true,
            "cachedResultName": "Short Video Generation DB- Jass Records",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit?usp=drivesdk",
            "mode": "list",
            "value": "10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc"
          },
          "operation": "update",
          "options": {},
          "sheetName": {
            "__rl": true,
            "cachedResultName": "Main DB",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit#gid=0",
            "mode": "list",
            "value": "gid=0"
          }
        },
        "position": [
          -144,
          368
        ],
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7
      },
      {
        "id": "230db40c-3333-4159-bdae-973713170738",
        "name": "Wait till status is updated",
        "parameters": {
          "mode": "chooseBranch"
        },
        "position": [
          320,
          16
        ],
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2
      }
    ],
    "updatedAt": "2026-03-17T17:20:39.000Z",
    "versionId": "1d72bbbd-5eaf-48ce-bb26-87675b0200a6",
    "workflowId": "jP7umBMqZKsrJPCo"
  },
  "activeVersionId": "1d72bbbd-5eaf-48ce-bb26-87675b0200a6",
  "connections": {
    "Call Phase 2: Subworkflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Catch Reel Error1",
            "type": "main"
          }
        ]
      ]
    },
    "Catch Reel Error1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update Status = error1",
            "type": "main"
          }
        ]
      ]
    },
    "Download Image from Drive": {
      "main": [
        [],
        []
      ]
    },
    "Get Rows": {
      "main": [
        [
          {
            "index": 0,
            "node": "update in progess status",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Wait till status is updated",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Call Phase 2: Subworkflow",
            "type": "main"
          }
        ]
      ]
    },
    "Submit video generation": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Rows",
            "type": "main"
          }
        ]
      ]
    },
    "Update Status = error1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Wait till status is updated": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Rows",
            "type": "main"
          }
        ]
      ]
    },
    "update in progess status": {
      "main": [
        [
          {
            "index": 1,
            "node": "Wait till status is updated",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-12T06:57:55.249Z",
  "id": "jP7umBMqZKsrJPCo",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "PHASE 2:kling Video Generation - main workflow",
  "nodes": [
    {
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V3dLSPaQzHr78Y7i",
          "name": "Google Drive account"
        }
      },
      "id": "5daa26e8-7078-4341-b937-743190c8fbc0",
      "name": "Download Image from Drive",
      "onError": "continueErrorOutput",
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "operation": "download",
        "options": {}
      },
      "position": [
        2832,
        -112
      ],
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3
    },
    {
      "id": "a178aad1-17a2-467d-b4ff-9b9e8d88adc5",
      "name": "When clicking ‘Execute workflow’",
      "parameters": {},
      "position": [
        -672,
        0
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fhIAilo8SGlashT9",
          "name": "Google Sheets account 3"
        }
      },
      "id": "8411d13b-c108-4237-87d4-de66bb7b5ea0",
      "name": "Get Rows",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "Short Video Generation DB- Jass Records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit?usp=drivesdk",
          "mode": "list",
          "value": "10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status of Automation",
              "lookupValue": "Approved_for_video_generation"
            },
            {
              "lookupColumn": "Reel Type",
              "lookupValue": "Story"
            }
          ]
        },
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Main DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -384,
        0
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fhIAilo8SGlashT9",
          "name": "Google Sheets account 3"
        }
      },
      "id": "5df3b378-c688-4dff-8600-3258502ba34c",
      "name": "Update Status = error1",
      "notes": "Marks failed reel as error then loops back to next reel.",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Reel number"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Reel number",
              "id": "Reel number",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Client(drive folder name)",
              "id": "Client(drive folder name)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Account to post",
              "id": "Account to post",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Avatars to use(comma seperated)",
              "id": "Avatars to use(comma seperated)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Avtar Drive links(optional & bypasses Avatar to use field)",
              "id": "Avtar Drive links(optional & bypasses Avatar to use field)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Reel Type",
              "id": "Reel Type",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Concept input(optional)",
              "id": "Concept input(optional)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Song link(direct download)",
              "id": "Song link(direct download)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Start Time of Song",
              "id": "Start Time of Song",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Total Time of Reel(Secs)",
              "id": "Total Time of Reel(Secs)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Status of Automation",
              "id": "Status of Automation",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Drive link for image approvals",
              "id": "Drive link for image approvals",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Drive link for video approval",
              "id": "Drive link for video approval",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Final Video Drive Download Link",
              "id": "Final Video Drive Download Link",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Post Schedule Date",
              "id": "Post Schedule Date",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Post Schedule Time",
              "id": "Post Schedule Time",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Workflow execution link",
              "id": "Workflow execution link",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Error Details",
              "id": "Error Details",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "row_number",
              "id": "row_number",
              "readOnly": true,
              "removed": true,
              "required": false,
              "type": "number"
            }
          ],
          "value": {
            "Error Details": "={{ $json.errorMessage }}",
            "Reel number": "={{ $json['Reel number'] }}",
            "Status of Automation": "error in video generation"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "Short Video Generation DB- Jass Records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit?usp=drivesdk",
          "mode": "list",
          "value": "10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc"
        },
        "operation": "update",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Main DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        1680,
        32
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7
    },
    {
      "id": "583fed08-53ab-4f1a-a3c4-910a99eed7c0",
      "name": "Catch Reel Error1",
      "notes": "Collects errors from any critical node and routes to sheet update.",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-1",
              "name": "errorMessage",
              "type": "string",
              "value": "={{ $json.error }}"
            },
            {
              "id": "9980ad63-4f95-4c33-8074-56be924549b8",
              "name": "Reel number",
              "type": "number",
              "value": "={{ $json['Reel number'] }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1488,
        32
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "03c49c45-8c96-4816-9d24-08fb5be80f8c",
      "name": "Call Phase 2: Subworkflow",
      "onError": "continueErrorOutput",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "Phase 2: Subworkflow",
          "cachedResultUrl": "/workflow/9mDONMwJehpvBckt",
          "mode": "list",
          "value": "9mDONMwJehpvBckt"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            ""
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Loop_Over_Reels_",
              "id": "Loop_Over_Reels_",
              "removed": false,
              "required": false
            }
          ],
          "value": {
            "Loop_Over_Reels_": "={{ $('Loop Over Items').item.json }}"
          }
        }
      },
      "position": [
        1200,
        16
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    },
    {
      "id": "df1956e7-a76d-499c-910e-fce07d5426cf",
      "name": "Loop Over Items",
      "parameters": {
        "options": {}
      },
      "position": [
        944,
        0
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "8d7c0682-cc23-47e3-bf2b-7db6b7b6b458",
      "name": "Submit video generation",
      "parameters": {
        "formDescription": "[VIDEO GENERATION] With this you will be able to submit job for Story videos",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Client Name",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Jass Records"
                  }
                ]
              },
              "fieldType": "dropdown"
            },
            {
              "fieldLabel": "Video Type",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Story"
                  }
                ]
              },
              "fieldType": "dropdown"
            }
          ]
        },
        "formTitle": "Submit Video Generation Workflow (Story)",
        "options": {}
      },
      "position": [
        -640,
        272
      ],
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "webhookId": "bd44f54f-a917-40e5-8310-465855dca281"
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fhIAilo8SGlashT9",
          "name": "Google Sheets account 3"
        }
      },
      "id": "546a3067-e1ae-4fbb-a3f0-3d01c7cf2820",
      "name": "update in progess status",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Reel number"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Reel number",
              "id": "Reel number",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Client(drive folder name)",
              "id": "Client(drive folder name)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Account to post",
              "id": "Account to post",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Avatars to use(comma seperated)",
              "id": "Avatars to use(comma seperated)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Avtar Drive links(optional & bypasses Avatar to use field)",
              "id": "Avtar Drive links(optional & bypasses Avatar to use field)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Reel Type",
              "id": "Reel Type",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Concept input(optional)",
              "id": "Concept input(optional)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Song link(direct download)",
              "id": "Song link(direct download)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Start Time of Song",
              "id": "Start Time of Song",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Total Time of Reel(Secs)",
              "id": "Total Time of Reel(Secs)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Status of Automation",
              "id": "Status of Automation",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Drive link for image approvals",
              "id": "Drive link for image approvals",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Drive link for video approval",
              "id": "Drive link for video approval",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Final Video Drive Download Link",
              "id": "Final Video Drive Download Link",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Post Schedule Date",
              "id": "Post Schedule Date",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Post Schedule Time",
              "id": "Post Schedule Time",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Workflow execution link",
              "id": "Workflow execution link",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Error Details",
              "id": "Error Details",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "row_number",
              "id": "row_number",
              "readOnly": true,
              "removed": true,
              "required": false,
              "type": "number"
            }
          ],
          "value": {
            "Reel number": "={{ $json['Reel number'] }}",
            "Status of Automation": "In Progress"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "Short Video Generation DB- Jass Records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit?usp=drivesdk",
          "mode": "list",
          "value": "10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc"
        },
        "operation": "update",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Main DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -144,
        368
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7
    },
    {
      "id": "230db40c-3333-4159-bdae-973713170738",
      "name": "Wait till status is updated",
      "parameters": {
        "mode": "chooseBranch"
      },
      "position": [
        320,
        16
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    }
  ],
  "pinData": {},
  "settings": {
    "availableInMCP": false,
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-03-12T06:57:55.256Z",
      "projectId": "xgOOcboctxelndaF",
      "role": "workflow:owner",
      "updatedAt": "2026-03-12T06:57:55.256Z",
      "workflowId": "jP7umBMqZKsrJPCo"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-17T17:20:31.645Z",
  "versionId": "1d72bbbd-5eaf-48ce-bb26-87675b0200a6"
}