workflows/wvYyoAd9ULgk8qX2Backup your workflows to GitHub.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Check Status": {
      "main": [
        [
          {
            "index": 0,
            "node": "Same file - Do nothing",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "File is different",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "File is new",
            "type": "main"
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "index": 0,
            "node": "Return",
            "type": "main"
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "index": 0,
            "node": "Return",
            "type": "main"
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Globals",
            "type": "main"
          },
          {
            "index": 1,
            "node": "Merge Items",
            "type": "main"
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit existing file",
            "type": "main"
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create new file",
            "type": "main"
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge Items",
            "type": "main"
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "index": 0,
            "node": "If file too large",
            "type": "main"
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get file data",
            "type": "main"
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get File",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Merge Items",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Execute Workflow",
            "type": "main"
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "isDiffOrNew",
            "type": "main"
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "index": 0,
            "node": "n8n",
            "type": "main"
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "index": 0,
            "node": "Return",
            "type": "main"
          }
        ]
      ]
    },
    "Sanitize Secrets": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "n8n",
            "type": "main"
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "index": 0,
            "node": "Check Status",
            "type": "main"
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-12T07:21:41.554Z",
  "id": "wvYyoAd9ULgk8qX2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true,
    "templateId": "2652"
  },
  "name": "Backup your workflows to GitHub",
  "nodes": [
    {
      "id": "a132fc4c-b651-4ca1-8c36-c925188835db",
      "name": "On clicking 'execute'",
      "parameters": {},
      "position": [
        816,
        512
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "9a3870e1-e79d-461e-885a-f2e79d76f4e1",
      "name": "Sticky Note",
      "parameters": {
        "color": 6,
        "content": "## Subworkflow",
        "height": 750.8363163824032,
        "width": 2212
      },
      "position": [
        368,
        880
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "credentials": {
        "n8nApi": {
          "id": "Yv33yD8cPfiIOhNI",
          "name": "n8n account"
        }
      },
      "id": "afaf95c7-5f2b-4ae2-a7de-8730f839d79f",
      "name": "n8n",
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "position": [
        1072,
        608
      ],
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1
    },
    {
      "id": "e582f9cb-10e0-44c5-ab9b-b5e20aa49ced",
      "name": "Return",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "position": [
        2464,
        1088
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3
    },
    {
      "id": "3d0b2d17-0e05-4139-b99c-e1cb862f2f9b",
      "name": "Get File",
      "parameters": {
        "options": {},
        "url": "={{ $json.download_url }}"
      },
      "position": [
        1360,
        960
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "9dcdd75d-671a-4a85-8618-2fbbd8158a86",
      "name": "If file too large",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "leftValue": "={{ $json.content }}",
              "operator": {
                "operation": "empty",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "leftValue": "={{ $json.error }}",
              "operator": {
                "operation": "notExists",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "position": [
        1152,
        992
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "id": "1b6153ae-797a-4e3d-80c6-01467809b9ec",
      "name": "Merge Items",
      "parameters": {},
      "position": [
        1152,
        1248
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2
    },
    {
      "id": "edba838c-2d9d-45e9-b4f7-340209dfec8d",
      "name": "isDiffOrNew",
      "parameters": {
        "jsCode": "// const orderJsonKeys = (jsonObj) => {\n//   const ordered = {};\n//   Object.keys(jsonObj).sort().forEach(key => {\n//     ordered[key] = jsonObj[key];\n//   });\n//   return ordered;\n// }\n\n// // Check if file returned with content\n// if (Object.keys($input.all()[0].json).includes(\"content\")) {\n//   // Decode base64 content and parse JSON\n//   const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n//   const n8nWorkflow = $input.all()[1].json;\n  \n//   // Order JSON objects\n//   const orderedOriginal = orderJsonKeys(origWorkflow);\n//   const orderedActual = orderJsonKeys(n8nWorkflow);\n\n//   // Determine difference\n//   if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n//     $input.all()[0].json.github_status = \"same\";\n//   } else {\n//     $input.all()[0].json.github_status = \"different\";\n//     $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n//   }\n//   $input.all()[0].json.content_decoded = orderedOriginal;\n// // No file returned / new workflow\n// } else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n//   const origWorkflow = JSON.parse($input.all()[0].json.data);\n//   const n8nWorkflow = $input.all()[1].json;\n  \n//   // Order JSON objects\n//   const orderedOriginal = orderJsonKeys(origWorkflow);\n//   const orderedActual = orderJsonKeys(n8nWorkflow);\n\n//   // Determine difference\n//   if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n//     $input.all()[0].json.github_status = \"same\";\n//   } else {\n//     $input.all()[0].json.github_status = \"different\";\n//     $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n//   }\n//   $input.all()[0].json.content_decoded = orderedOriginal;\n\n// } else {\n//   // Order JSON object\n//   const n8nWorkflow = $input.all()[1].json;\n//   const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n//   // Proper formatting\n//   $input.all()[0].json.github_status = \"new\";\n//   $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n// }\n\n// // Return items\n// return $input.all();\n\n// Deep sort JSON keys (stable comparison)\nconst orderJsonKeys = (obj) => {\n  if (Array.isArray(obj)) {\n    return obj.map(orderJsonKeys);\n  } else if (obj !== null && typeof obj === \"object\") {\n    return Object.keys(obj).sort().reduce((acc, key) => {\n      acc[key] = orderJsonKeys(obj[key]);\n      return acc;\n    }, {});\n  }\n  return obj;\n};\n\n// Remove secrets from workflow JSON (prevents GitHub secret detection)\nconst sanitizeSecrets = (obj) => {\n  const str = JSON.stringify(obj);\n\n  const cleaned = str\n    // API key headers\n    .replace(/Key\\s+[a-zA-Z0-9\\-\\_:]+/g, \"Key REDACTED\")\n\n    // JSON secrets\n    .replace(/\"api[_-]?key\"\\s*:\\s*\"[^\"]+\"/gi, '\"apiKey\":\"REDACTED\"')\n    .replace(/\"token\"\\s*:\\s*\"[^\"]+\"/gi, '\"token\":\"REDACTED\"')\n    .replace(/\"authorization\"\\s*:\\s*\"[^\"]+\"/gi, '\"authorization\":\"REDACTED\"')\n    .replace(/\"password\"\\s*:\\s*\"[^\"]+\"/gi, '\"password\":\"REDACTED\"')\n    .replace(/\"secret\"\\s*:\\s*\"[^\"]+\"/gi, '\"secret\":\"REDACTED\"')\n\n    // URL query tokens (YOUR CASE)\n    .replace(/token=[a-zA-Z0-9_\\-]+/gi, \"token=REDACTED\")\n\n    // apify specific token format\n    .replace(/apify_api_[a-zA-Z0-9]+/gi, \"apify_api_REDACTED\");\n\n  return JSON.parse(cleaned);\n};\n\n// Get inputs\nconst inputs = $input.all();\n\n// Check if file returned with content\nif (Object.keys(inputs[0].json).includes(\"content\")) {\n\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(\n    Buffer.from(inputs[0].json.content, 'base64').toString()\n  );\n\n  const n8nWorkflow = inputs[1].json;\n\n  // Sanitize workflow\n  const sanitizedWorkflow = sanitizeSecrets(n8nWorkflow);\n\n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(sanitizedWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    inputs[0].json.github_status = \"same\";\n  } else {\n    inputs[0].json.github_status = \"different\";\n    inputs[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n\n  inputs[0].json.content_decoded = orderedOriginal;\n\n\n// No file returned / new workflow\n} else if (Object.keys(inputs[0].json).includes(\"data\")) {\n\n  const origWorkflow = JSON.parse(inputs[0].json.data);\n  const n8nWorkflow = inputs[1].json;\n\n  // Sanitize workflow\n  const sanitizedWorkflow = sanitizeSecrets(n8nWorkflow);\n\n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(sanitizedWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    inputs[0].json.github_status = \"same\";\n  } else {\n    inputs[0].json.github_status = \"different\";\n    inputs[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n\n  inputs[0].json.content_decoded = orderedOriginal;\n\n\n// New workflow (no file exists)\n} else {\n\n  const n8nWorkflow = inputs[1].json;\n\n  // Sanitize workflow\n  const sanitizedWorkflow = sanitizeSecrets(n8nWorkflow);\n\n  // Order JSON\n  const orderedActual = orderJsonKeys(sanitizedWorkflow);\n\n  inputs[0].json.github_status = \"new\";\n  inputs[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn inputs;"
      },
      "position": [
        1360,
        1248
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 1
    },
    {
      "id": "4f4193f2-bb76-4af7-8a6a-c15e29732208",
      "name": "Check Status",
      "parameters": {
        "dataType": "string",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "output": 1,
              "value2": "different"
            },
            {
              "output": 2,
              "value2": "new"
            }
          ]
        },
        "value1": "={{$json.github_status}}"
      },
      "position": [
        1648,
        1232
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1
    },
    {
      "id": "1c31cc43-48a3-4716-82a8-6a920662c0ed",
      "name": "Same file - Do nothing",
      "parameters": {},
      "position": [
        2000,
        1088
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    },
    {
      "id": "c24abb49-6a5e-41db-9e32-0efd682bb440",
      "name": "File is different",
      "parameters": {},
      "position": [
        2000,
        1248
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    },
    {
      "id": "f2ec4b61-8193-49e4-829b-e42bcaafef08",
      "name": "File is new",
      "parameters": {},
      "position": [
        2000,
        1408
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    },
    {
      "credentials": {
        "githubApi": {
          "id": "TlaNkHAtYAs4RZss",
          "name": "GitHub account"
        }
      },
      "id": "af0d0e28-5ed7-4ab8-b1a4-e78567cdc747",
      "name": "Create new file",
      "parameters": {
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}{{$('Execute Workflow Trigger').first().json.name}}.json",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        },
        "resource": "file"
      },
      "position": [
        2224,
        1408
      ],
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "webhookId": "e5e4ce8b-74a3-4b94-83ca-351edc280faf"
    },
    {
      "credentials": {
        "githubApi": {
          "id": "TlaNkHAtYAs4RZss",
          "name": "GitHub account"
        }
      },
      "id": "f75605ee-10e8-4d45-b6c6-af2eb9b87a5b",
      "name": "Edit existing file",
      "parameters": {
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        },
        "resource": "file"
      },
      "position": [
        2224,
        1232
      ],
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "webhookId": "a57e71de-4960-4d25-a59f-1a9e2e96aff5"
    },
    {
      "executeOnce": false,
      "id": "124e721b-6eac-476f-aa6d-edfe0dc6afa1",
      "name": "Loop Over Items",
      "parameters": {
        "options": {}
      },
      "position": [
        1280,
        608
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "132608d5-dc5e-4a11-9955-331b482fe442",
      "name": "Schedule Trigger",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "position": [
        816,
        704
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "id": "5ca560c0-b281-4bea-95bd-c8decd2bb8ee",
      "name": "Sticky Note1",
      "parameters": {
        "color": 4,
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub.\n\nThe files are saved `ID.json` for the filename.\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository. If it doesn't exist it will be created.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - workflows/\n\n\nThe workflow calls itself using a subworkflow, to help reduce memory usage.",
        "height": 601,
        "width": 371
      },
      "position": [
        368,
        240
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "26e38d41-f253-4fa2-964f-54f8b468d211",
      "name": "Sticky Note2",
      "parameters": {
        "color": 7,
        "content": "## Main workflow loop",
        "height": 435,
        "width": 886
      },
      "position": [
        768,
        432
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "TlaNkHAtYAs4RZss",
          "name": "GitHub account"
        }
      },
      "id": "0dfdc6cc-616e-447a-b1cb-45f116894509",
      "name": "Get file data",
      "parameters": {
        "additionalParameters": {},
        "asBinaryProperty": false,
        "filePath": "={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.json",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.name }}"
        },
        "resource": "file"
      },
      "position": [
        960,
        992
      ],
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "webhookId": "743111c3-2c21-4658-8097-a9fe966f43d2"
    },
    {
      "id": "351f9282-202a-4984-89b3-020c981b309f",
      "name": "Globals",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": "aryachoudhary10"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "youneedit"
            },
            {
              "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
              "name": "repo.path",
              "type": "string",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "position": [
        736,
        1152
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "ffe9f716-11de-46b0-8221-ab4addc6ea1c",
      "name": "Sticky Note3",
      "parameters": {
        "color": 4,
        "content": "## Edit this node 👇",
        "height": 80,
        "width": 150
      },
      "position": [
        688,
        1040
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "72616fc1-1c21-4f17-862c-2838636437ec",
      "name": "Execute Workflow Trigger",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        448,
        1264
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "9496f6d1-1fcb-4b31-9a80-8f0c15c426f8",
      "name": "Execute Workflow",
      "parameters": {
        "mode": "each",
        "options": {},
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        }
      },
      "position": [
        1488,
        608
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    },
    {
      "id": "015a5f28-d1ff-4e3b-a303-6d143c7326b1",
      "name": "Sticky Note16",
      "parameters": {
        "color": 4,
        "content": "### 💡 **Want to learn advanced n8n skills and earn money building workflows?**\n‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎Check out [Scrapes Academy](https://www.skool.com/scrapes/about?ref=21f10ad99f4d46ba9b8aaea8c9f58c34)",
        "width": 640
      },
      "position": [
        768,
        240
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "7c4a0407-36b2-4f61-9e09-d1a5f44fd53e",
      "name": "Sanitize Secrets",
      "parameters": {
        "jsCode": "let data = $json.content;\n\n// remove secrets\ndata = data.replace(/Key\\s+[a-zA-Z0-9\\-\\_:]+/g, \"Key REDACTED\");\ndata = data.replace(/api[_-]?key[\"']?\\s*:\\s*[\"'][^\"']+[\"']/gi, '\"apiKey\":\"REDACTED\"');\ndata = data.replace(/token[\"']?\\s*:\\s*[\"'][^\"']+[\"']/gi, '\"token\":\"REDACTED\"');\n\nreturn [{\n  ...$json,\n  sanitized_workflow: data\n}];"
      },
      "position": [
        112,
        1312
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "settings": {
    "availableInMCP": false,
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-03-12T07:21:41.555Z",
      "projectId": "xgOOcboctxelndaF",
      "role": "workflow:owner",
      "updatedAt": "2026-03-12T07:21:41.555Z",
      "workflowId": "wvYyoAd9ULgk8qX2"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-13T18:34:10.108Z",
  "versionId": "7c2979e5-3d74-4c50-a424-5d8dbb4cc3e4"
}