workflows/YeIbAHneO4YVmFJUPHASE 1: Data to Image Generation- main workflow.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Call Phase1: Subworkflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Reels",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update row in sheet",
            "type": "main"
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Reels",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Reels": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Call Phase1: Subworkflow",
            "type": "main"
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Reels",
            "type": "main"
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get row(s) in sheet",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-11T16:51:08.410Z",
  "id": "YeIbAHneO4YVmFJU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "PHASE 1: Data to Image Generation- main workflow",
  "nodes": [
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fhIAilo8SGlashT9",
          "name": "Google Sheets account 3"
        }
      },
      "id": "e106c2d6-0f6e-43a1-a02a-4d3650f79156",
      "name": "Get row(s) in sheet",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "Short Video Generation DB- Jass Records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit?usp=drivesdk",
          "mode": "list",
          "value": "10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Reel Type",
              "lookupValue": "Story"
            },
            {
              "lookupColumn": "Status of Automation",
              "lookupValue": "to be picked"
            }
          ]
        },
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Main DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -4464,
        -1248
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7
    },
    {
      "id": "2e65237a-a034-4995-8eaf-d900f26af511",
      "name": "When clicking ‘Execute workflow’",
      "parameters": {},
      "position": [
        -4720,
        -1248
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "executeOnce": false,
      "id": "e59edec2-294b-415f-978c-b31427b80234",
      "name": "Loop Over Reels",
      "notes": "Processes one reel at a time. On error, updates sheet and continues to next reel.",
      "parameters": {
        "options": {}
      },
      "position": [
        -4048,
        -1328
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "executeOnce": false,
      "id": "efbd1b5b-c3b9-4ba8-bb81-ee60b09b8742",
      "name": "call model generations1",
      "onError": "continueErrorOutput",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key REDACTED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n  \"prompt\": \"{{ $json.kling_prompt }}, keep clothing exaclty as in <image:0>, refer the background vibe from <image:0> but not exactly like it Maintain natural skin textures and keep the exact skin texture and micro-texture as in <image:1>. Make sure to have atleast one face in the image. \",\n  \"image_urls\":{{ $json.image_urls.toJsonString() }} ,\n  \"elements\": [{}],\n  \"resolution\": \"2K\",\n  \"result_type\": \"single\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"9:16\",\n  \"output_format\": \"png\"\n}\n",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://queue.fal.run/fal-ai/kling-image/o3/image-to-image"
      },
      "position": [
        -4064,
        -544
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "c302c07b-371f-476e-9689-4654dbd0aa40",
      "name": "Call Phase1: Subworkflow",
      "onError": "continueErrorOutput",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "Phase 1: Subworkflow",
          "cachedResultUrl": "/workflow/9AxPDoQDqa05SS1G",
          "mode": "list",
          "value": "9AxPDoQDqa05SS1G"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "",
            "Loop_Over_Reels_"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Loop_Over_Reels_",
              "id": "Loop_Over_Reels_",
              "removed": false,
              "required": false
            }
          ],
          "value": {
            "Loop_Over_Reels_": "={{ $('Loop Over Reels').item.json }}"
          }
        }
      },
      "position": [
        -3648,
        -1312
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    },
    {
      "id": "421f8a33-5428-42ff-b1ea-daf56575d153",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1429e5d8-40ee-40ec-9dfd-490faa157232",
              "name": "error",
              "type": "string",
              "value": "={{ $json.error }}"
            },
            {
              "id": "14cbeda9-84fa-40fe-babe-c5d1f69ab7dc",
              "name": "Reel number",
              "type": "number",
              "value": "={{ $json['Reel number'] }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -3392,
        -1216
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fhIAilo8SGlashT9",
          "name": "Google Sheets account 3"
        }
      },
      "id": "69320f8d-21cb-4c05-8108-13326f9157bf",
      "name": "Update row in sheet",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Reel number"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Reel number",
              "id": "Reel number",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Client(drive folder name)",
              "id": "Client(drive folder name)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Account to post",
              "id": "Account to post",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Avatars to use(comma seperated)",
              "id": "Avatars to use(comma seperated)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Avtar Drive links(optional & bypasses Avatar to use field)",
              "id": "Avtar Drive links(optional & bypasses Avatar to use field)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Reel Type",
              "id": "Reel Type",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Concept input(optional)",
              "id": "Concept input(optional)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Song link(direct download)",
              "id": "Song link(direct download)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Start Time of Song",
              "id": "Start Time of Song",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Total Time of Reel(Secs)",
              "id": "Total Time of Reel(Secs)",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Status of Automation",
              "id": "Status of Automation",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Drive link for image approvals",
              "id": "Drive link for image approvals",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Drive link for video approval",
              "id": "Drive link for video approval",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Final Video Drive Download Link",
              "id": "Final Video Drive Download Link",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Post Schedule Date",
              "id": "Post Schedule Date",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Post Schedule Time",
              "id": "Post Schedule Time",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Workflow execution link",
              "id": "Workflow execution link",
              "removed": true,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Error Details",
              "id": "Error Details",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "row_number",
              "id": "row_number",
              "readOnly": true,
              "removed": true,
              "required": false,
              "type": "number"
            }
          ],
          "value": {
            "Error Details": "={{ $json.error }}",
            "Reel number": "={{ $json['Reel number'] }}",
            "Status of Automation": "error in image generation"
          }
        },
        "documentId": {
          "__rl": true,
          "cachedResultName": "Short Video Generation DB- Jass Records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit?usp=drivesdk",
          "mode": "list",
          "value": "10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc"
        },
        "operation": "update",
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "Main DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gg8UdCG1cX5yF4gepwQVeUwGQt0u0ww7hSNvcO8Unc/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        -3184,
        -1216
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7
    }
  ],
  "pinData": {},
  "settings": {
    "availableInMCP": false,
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-03-11T16:51:08.419Z",
      "projectId": "xgOOcboctxelndaF",
      "role": "workflow:owner",
      "updatedAt": "2026-03-11T16:51:08.419Z",
      "workflowId": "YeIbAHneO4YVmFJU"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-12T07:09:17.410Z",
  "versionId": "c98a07bd-dd46-450c-8d01-559940b56895"
}